<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head th:replace="home :: head">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Ficha Administrativa</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
</head>

<body>
  <header th:replace="home :: header"></header>
  <header th:replace="Expediente_docente/barra :: barraExpediente"></header>

  <div class="container mt-4">
    <div class="card">
      <div class="card-header text-center">
        <h5>INSTITUTO NACIONAL SIMON BOLIVAR</h5>
        <h5>CÓDIGO 11694 SANTO TOMAS</h5>
        <h3>FICHA PERSONAL ADMINISTRATIVA: DATOS PERSONALES</h3>
      </div>
      <div class="card-body">

        <form class="row g-3 needs-validation" novalidate th:object="${administrativo}"
          th:action="@{/expedienteadministrativo/actualizar}" method="post">
          <!-- Datos Personales -->
          <div class="col-12">
            <h4 class="text-center">Datos Personales</h4>
          </div>

          <div class="col-md-6">
            <label for="administrativo_nombres" class="form-label">Nombres:</label>
            <input type="text" th:field="*{nombrePersonal}" class="form-control" id="administrativo_nombres" required>
            <div class="invalid-feedback">
              Es necesario agregar nombres
            </div>
          </div>

          <div class="col-md-6">
            <label for="administrativo_apellidos" class="form-label">Apellidos:</label>
            <input type="text" th:field="*{apellidoPersonal}" class="form-control" id="administrativo_apellidos"
              required>
            <div class="invalid-feedback">
              Es necesario agregar apellidos
            </div>
          </div>

          <div class="col-md-6">
            <label for="administrativo_profesion" class="form-label">Profesión:</label>
            <input type="text" th:field="*{profesionPersonal}" class="form-control" id="administrativo_profesion"
              required>
            <div class="invalid-feedback">
              Es necesario agregar la profesión
            </div>
          </div>

          <div class="col-md-6">
            <label for="administrativo_fecha_nacimiento" class="form-label">Fecha de nacimiento:</label>
            <input type="date" th:field="*{fechaNacimientoP}" class="form-control" id="administrativo_fecha_nacimiento"
              required>
            <div class="invalid-feedback">
              Es necesario agregar la fecha de nacimiento
            </div>
          </div>

          <div class="col-md-6">
            <label for="administrativo_grado_academico" class="form-label">Grado academico:</label>
            <input type="text" th:field="*{gradoAcademicoP}" class="form-control" id="administrativo_grado_academico"
              required>
            <div class="invalid-feedback">
              Es necesario agregar el grado academico
            </div>
          </div>


          <!-- Ubicación -->
          <div class="col-12">
            <h4 class="text-center">Ubicación</h4>
          </div>

          <div class="col-12">
            <label for="administrativo_direccion" class="form-label">Dirección:</label>
            <input type="text" th:field="*{direccionPersonal}" class="form-control" id="administrativo_direccion"
              required>
            <div id="direccionHelp" class="form-text">Dirección completa. Ej. Colonia Roma, Pasaje #4, Casa 6.</div>
            <div class="invalid-feedback">
              Es necesario agregar la direccion
            </div>
          </div>

          <div class="col-md-6">
            <label for="docente_departamento" class="form-label">Departamento</label>
            <select id="docente_departamento" th:field="*{departamentoPersonal}" class="form-select"
              th:data-selected="${administrativo.departamentoPersonal}" required>
              <option value="">Seleccionar...</option>
            </select>
            <div class="invalid-feedback">
              Es necesario seleccionar un departamento
            </div>
          </div>

          <div class="col-md-6">
            <label for="docente_municipio" class="form-label">Municipio</label>
            <select id="docente_municipio" th:field="*{municipioPersonal}" class="form-select"
              th:data-selected="${administrativo.municipioPersonal}" required>
              <option value="">Seleccionar...</option>
            </select>
            <div class="invalid-feedback">
              Es necesario seleccionar un municipio
            </div>
          </div>

          <div class="col-md-6">
            <label for="docente_distrito" class="form-label">Distrito</label>
            <select id="docente_distrito" th:field="*{distritoPersonal}" class="form-select"
              th:data-selected="${administrativo.distritoPersonal}" required>
              <option value="">Seleccionar...</option>
            </select>
            <div class="invalid-feedback">
              Es necesario seleccionar un distrito
            </div>
          </div>

          <div class="col-md-6">
            <label for="administrativo_zona" class="form-label">Zona</label>
            <select id="administrativo_zona" th:field="*{zonaPersonal}" class="form-select" required>
              <option value="" selected>Seleccionar...</option>
              <option value="Rural">Rural</option>
              <option value="Urbano">Urbano</option>
            </select>
            <div class="invalid-feedback">
              Es necesario seleccionar una zona
            </div>
          </div>


          <!-- Documentos de Identificación -->
          <div class="col-12">
            <h4 class="text-center">Documentos de Identificación</h4>
          </div>
          <div class="col-md-6">
            <label for="administrativo_dui" class="form-label">DUI</label>
            <input type="text" th:field="*{duiPersonal}" class="form-control" id="administrativo_dui"
              th:readonly="${editar}" th:classappend="${editar} ? 'bg-light text-dark' : ''" required>
            <div class="invalid-feedback">
              Es necesario agregar el DUI
            </div>
          </div>

          <div class="col-md-6">
            <label for="administrativo_nup" class="form-label">NUP</label>
            <input type="text" th:field="*{nupPersonal}" class="form-control" id="administrativo_nup" required>
            <div class="invalid-feedback">
              Es necesario agregar el NUP
            </div>
          </div>

          <div class="col-md-6">
            <label for="administrativo_nit" class="form-label">NIT</label>
            <input type="text" th:field="*{nitPersonal}" class="form-control restricted-input" id="administrativo_nit"
              required>

            <div class="col-auto mt-2">
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="nitOption" id="homologado" value="homologado">
                <label class="form-check-label" for="homologado">NIT Homologado</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="nitOption" id="convencional" value="convencional"
                  checked>
                <label class="form-check-label" for="convencional">NIT Convencional</label>
              </div>
            </div>
            <div class="invalid-feedback">
              Es necesario agregar el NIT
            </div>
          </div>

          <!-- Información de Contacto -->
          <div class="col-12">
            <h4 class="text-center">Información de Contacto</h4>
          </div>

          <div class="col-12">
            <label for="administrativo_correo" class="form-label">Correo Electrónico</label>
            <input type="email" th:field="*{correoPersonal}" class="form-control" id="administrativo_correo"
              aria-describedby="correoHelp" required>
            <div id="correoHelp" class="form-text">Ingrese su correo institucional, en caso de no tener puede usar el
              personal.</div>
            <div class="invalid-feedback">
              Es necesario agregar el correo electronico
            </div>
          </div>

          <div class="col-md-6">
            <label for="administrativo_celular" class="form-label">Celular:</label>
            <input type="text" th:field="*{telefonoPersonal}" class="form-control" id="administrativo_celular" required>
            <div class="invalid-feedback">
              Es necesario agregar el celular
            </div>
          </div>

          <div class="col-md-6">
            <label for="administrativo_telefono_fijo" class="form-label">Telefono Fijo:</label>
            <input type="text" th:field="*{telefonoFijoPersonal}" class="form-control"
              id="administrativo_telefono_fijo">
          </div>

          <!-- Otros Datos -->
          <div class="col-12">
            <h4 class="text-center">Información Adicional</h4>
          </div>

          <div class="col-12">
            <label for="administrativo_especialidad" class="form-label">Especialidad en estudio: </label>
            <input type="text" th:field="*{especialidadEnEstudioP}" class="form-control"
              id="administrativo_especialidad" aria-describedby="especialidadHelp" placeholder=" ">
            <div id="especialidadHelp" class="form-text" required>Ingrese solo si estudia actualmente.</div>
          </div>

          
          <!-- Atestados -->
          <div class="col-12">
            <h4 class="text-center">Atestados</h4>
          </div>

          <div class="form-group">
            <label>Adjunta curriculum VITAE actualizado:</label>
            <div class="form-check">
              <input class="form-check-input" type="radio" th:field="*{curriculumPersonal}"
                id="administrativo_curriculum_si" value="true">
              <label class="form-check-label" for="administrativo_curriculum_si">Sí</label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="radio" th:field="*{curriculumPersonal}"
                id="administrativo_curriculum_no" value="false">
              <label class="form-check-label" for="administrativo_curriculum_no">No</label>
            </div>
          </div>

          <div class="form-group">
            <label>Adjunta atestados:</label>
            <div class="form-check">
              <input class="form-check-input" type="radio" th:field="*{atestadosPersonal}"
                id="administrativo_atestados_si" value="true">
              <label class="form-check-label" for="administrativo_atestados_si">Sí</label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="radio" th:field="*{atestadosPersonal}"
                id="administrativo_atestados_no" value="false">
              <label class="form-check-label" for="administrativo_atestados_no">No</label>
            </div>
          </div>

          <div class="col-12">
            <div class="col-md-2">
              <label for="administrativo_fecha_entrega" class="form-label">Fecha de entrega:</label>
              <input type="date" th:field="*{fechaEntregaPersonal}" class="form-control"
                id="administrativo_fecha_entrega" name="fecha_entrega" required>
            </div>
            <div class="invalid-feedback">
              Es necesario agregar la fecha de entrega del formulario
            </div>
          </div>

          <div class="col-12">
            <div class="col-md-2">
              <label for="administrativo_fecha_ingreso" class="form-label">Fecha de ingreso:</label>
              <input type="date" th:field="*{fechaIngresoPersonal}" class="form-control"
                id="administrativo_fecha_ingreso" required>
            </div>
            <div class="invalid-feedback">
              Es necesario agregar la fecha de ingreso a la institucion
            </div>
          </div>

          <div class="row justify-content-center text-center  mt-4">
            <div class="col-auto">
              <button type="submit" class="btn btn-primary">Guardar</button>
            </div>

            <div class="col-auto">
              <a class="btn btn-danger" th:href="@{/expedienteadministrativo/plantaadministrativa}"
                th:text="Cancelar"></a>
            </div>
          </div>

        </form>
      </div>
    </div>

    <footer th:replace="home :: footer"></footer>
    <script type="text/javascript" src="/js/direccion.js"></script>
    <script type="text/javascript" src="/js/validacionRequired.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.16/jquery.mask.js"></script>

    <script>
      $(document).ready(function () {
        $('#administrativo_celular').mask('0000-0000');
        $('#administrativo_telefono_fijo').mask('0000-0000');
        $('#administrativo_dui').mask('00000000-0');
        $('#administrativo_nup').mask('000000000000');
        $('#administrativo_nit').mask('0000-000000-000-0');

        // Variable para almacenar el último valor ingresado
        let lastConventionalValue = '';

        $('input[type=radio][name=nitOption]').change(function () {
          if (this.value === 'homologado') {
            // Guarda el valor actual antes de cambiar a homologado
            lastConventionalValue = $('#administrativo_nit').val();
            $('#administrativo_nit').prop('readonly', true);
            $('#administrativo_nit').mask('00000000-0');
            var duiValue = $('#administrativo_dui').val();
            $('#administrativo_nit').val(duiValue);
          } else if (this.value === 'convencional') {
            // Restaura el último valor ingresado cuando se vuelve a convencional
            $('#administrativo_nit').prop('readonly', false);
            $('#administrativo_nit').mask('0000-000000-000-0');
            $('#administrativo_nit').val(lastConventionalValue);
          }
        });
      });
    </script>
</body>

</html>