<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head th:fragment="head">
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>SICE - INSIBO</title>
  <link rel="shortcut icon" type="image/x-icon" th:href="@{/Imagenes/INSIBO2.ico}">
  <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />
  <link rel="stylesheet" th:href="@{/css/style.css}" />
  <link rel="icon" type="image/x-icon" th:href="@{/imagenes/INSIBO.ico}">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.7.2/font/bootstrap-icons.css" rel="stylesheet">
</head>

<body class="cuerpoIniciarSesion">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div id="formContent" class="card">
          <div class="card-body">
            <!-- Tarjetero de titulos -->
            <h2 class="tituloIniciarSesion"> Sistema Integral de control y progreso educativo INSIBO  </h2>
            <h2 class="tituloIniciarSesion"> (INSIBO-SICE)</h2>

            <!-- Icono -->
            <div class="fadeIn first text-center my-3">
              <img th:src="@{/Imagenes/LogoINSIBO.jpg}" id="icon" alt="User Icon" class="img-fluid" style="max-width: 150px;" />
            </div>
            <div th:if="${error != null and !#strings.isEmpty(error)}" th:utext="${error}" class="alert alert-danger"></div>
            <!-- Formulario de iniciar sesión -->
            <form id="formulario" method="post" th:action="@{/login}" oninput="validateForm()">
              <!-- Entrada de Usuario -->
              <div class="form-group">
                <label class="entradaIniciarSesion" for="username">Correo Electrónico:</label>
                <div>
                  <span id="correoInvalido" class="w-100 text-center">
                    <i class="bi bi-exclamation-circle-fill"></i> Correo inválido
                  </span>
                </div>
                <input type="text" id="username" name="username" class="form-control fadeIn second" placeholder="Ingrese su correo..." required>
              </div>
              <div class="form-group">
                <label class="entradaIniciarSesion" for="password">Contraseña:</label>
                <input type="password" id="password" name="password" class="form-control fadeIn third" placeholder="Ingrese su contraseña..." required>
              </div>
              <div class="form-group">
                <button class="btnIniciarSesion" type="submit" id="botonIniciar" disabled>Iniciar Sesion</button>
              </div>
            </form>            
          </div>
          <!-- Recordar contraseña -->
          <div id="formFooter" class="text-center mt-3 bg-light">
            <div id="formFooter" class="text-center mt-3 bg-light">
              <p class="preguntaRecuperar">¿Haz olvidado tu contraseña? <a class="enlaceRecuperar" th:href="@{/recuperarContra}">Restablecer tu contraseña</a></p>
            </div>            
          </div>
        </div>
      </div>
    </div>
  </div>

  <script type="text/javascript" th:src="@{/js/iniciarSesion.js}"></script>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.1.3/js/bootstrap.min.js"></script>
</body>

</html>
