<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{home :: head}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

</head>

<body>

    <div class="container-fluid">
        <div class="row">
            <div th:replace="~{Expediente_alumno\AlumnoInformacion :: barraLateral}"></div>

            <div class="col-md-10 offset-md-2">
                <header th:replace="~{home :: header}"></header>

                <div class="container-fluid" style="padding-top: 56px;">
                    <!--Mensajes-->
                    <div th:replace="~{alertas::alertas}"></div>
                    <h2 class="my-2  ">Documentos</h2>
                    <div class="col-12 col-lg-7 my-4">
                        <table class="table align-middle table-hover">
                            <thead class="text-start">
                                <tr>
                                    <th scope="col">Tipo</th>
                                    <th scope="col">Fecha</th>
                                    <th scope="col">Archivo</th>
                                </tr>
                            </thead>
                            <tbody class="">
                                <tr>
                                    <th class="text-start">DUI</th>
                                    <!-- Verifica si anexos es null -->
                                    <td class="text-center" th:if="${anexos == null || anexos.fechaDui == null}"
                                        th:text="${' '}"></td>
                                    <!-- Verifica si anexos no es null y fechaDui no es null -->
                                    <td class="text-center" th:if="${anexos != null && anexos.fechaDui != null}"
                                        th:text="${#dates.format(anexos.fechaDui,'dd/MM/yyyy')}"></td>

                                    <!-- Aquí empieza la sección de subida y visualización de documentos -->
                                    <td th:if="${anexos == null || anexos.nombreDui == null}">
                                        <a class="btn btn-primary" th:href="@{/Subir/dui/}+${alumno.idAlumno}"
                                            data-bs-toggle="tooltip" data-bs-placement="top" title="Adjuntar documento">
                                            <i class="bi bi-upload"></i>
                                        </a>
                                    </td>
                                    <td class="text-center" th:if="${anexos != null && anexos.nombreDui != null}">
                                        <!-- Ver documento -->
                                        <a class="btn btn-outline-primary"
                                            th:href="@{/ExpedienteAlumno/files/dui/}+${anexos.idAnexoAlumno}"
                                            data-bs-toggle="tooltip" data-bs-placement="bottom"
                                            title="Click para ver documento" target="_blank">
                                            <i class="fs-4 bi bi-file-earmark-pdf"></i>
                                        </a>
                                        <!-- Eliminar documento -->
                                        <a class="btn btn-outline-danger mx-2 delete-btn"
                                            th:href="@{/delete/dui/}+${anexos.idAnexoAlumno}+@{/}+${alumno.idAlumno}"
                                            data-bs-toggle="tooltip" data-bs-placement="top"
                                            title="Click para eliminar documento">
                                            <i class="fs-4 bi bi-x-circle"></i>
                                        </a>
                                    </td>
                                </tr>
                                <tr>
                                    <th class="text-start">Partida de nacimiento</th>
                                    <!-- Verifica si anexos es null -->
                                    <td class="text-center"
                                        th:if="${anexos == null || anexos.nombrePartidaNacimiento == null}"
                                        th:text="${' '}"></td>
                                    <!-- Verifica si anexos no es null y fechaDui no es null -->
                                    <td class="text-center"
                                        th:if="${anexos != null && anexos.fechaPartidaNacimiento != null}"
                                        th:text="${#dates.format(anexos.fechaDui,'dd/MM/yyyy')}"></td>

                                    <!-- Aquí empieza la sección de subida y visualización de documentos -->
                                    <td th:if="${anexos == null || anexos.nombrePartidaNacimiento == null}">
                                        <a class="btn btn-primary"
                                            th:href="@{/Subir/PartidaNacimiento/}+${alumno.idAlumno}"
                                            data-bs-toggle="tooltip" data-bs-placement="top" title="Adjuntar documento">
                                            <i class="bi bi-upload"></i>
                                        </a>
                                    </td>
                                    <td class="text-center"
                                        th:if="${anexos != null && anexos.nombrePartidaNacimiento != null}">
                                        <!-- Ver documento -->
                                        <a class="btn btn-outline-primary"
                                            th:href="@{/ExpedienteAlumno/files/PartidaNacimiento/}+${anexos.idAnexoAlumno}"
                                            data-bs-toggle="tooltip" data-bs-placement="bottom"
                                            title="Click para ver documento" target="_blank">
                                            <i class="fs-4 bi bi-file-earmark-pdf"></i>
                                        </a>
                                        <!-- Eliminar documento -->
                                        <a class="btn btn-outline-danger mx-2 delete-btn"
                                            th:href="@{/delete/PartidaNacimiento/}+${anexos.idAnexoAlumno}+@{/}+${alumno.idAlumno}"
                                            data-bs-toggle="tooltip" data-bs-placement="top"
                                            title="Click para eliminar documento">
                                            <i class="fs-4 bi bi-x-circle"></i>
                                        </a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal de Confirmación -->
    <div class="modal fade" id="confirmDeleteModal" tabindex="-1" aria-labelledby="confirmDeleteModalLabel"
        aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="confirmDeleteModalLabel">Confirmar Eliminación</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    ¿Estás seguro de eliminar este documento? Esta acción no puede deshacerse.
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                    <button type="button" class="btn btn-danger" id="confirmDeleteButton">Eliminar</button>
                </div>
            </div>
        </div>
    </div>

    <footer th:replace="~{home :: footer}"></footer>
    <script type="text/javascript" th:src="@{/js/modalEliminacion.js}"></script>

</body>
</html>