<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{home :: head}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    
</head>
<body>

    <div class="container-fluid">
        <div class="row">
            <nav class="col-md-2 d-none d-md-block custom-navbar min-vh-100 navbar navbar-expand-lg fixed-top">
                <!-- Contenido del menú lateral -->
                <div class="custom-navbar py-5">
                    <ul class="nav nav-pills flex-column mt-2">
                        <li class="nav-item py-2 py-sm-0 my-2">
                            <a class="nav-link text-white"  th:href="@{/ExpedienteAlumno/Alumno/} + ${alumno.nie}">
                                <i class="fs-6 bi bi-journal-text"></i>
                                <span class="fs-6 ms-2 d-none d-sm-inline">Información general</span>
                            </a>
                        </li>
                        <li class="nav-item py-2 py-sm-0 ">
                            <a class="nav-link text-white my-2" th:href="@{/ExpedienteAlumno/Enfermedades/} + ${alumno.nie}">
                                <i class="bi bi-journal-medical"></i>
                                <span class="fs-6 ms-2 d-none d-sm-inline">Padecimientos</span>
                            </a>
                        </li>
                        <li class="nav-item py-2 py-sm-0 my-2">
                            <a class="nav-link text-white"  th:href="@{/ExpedienteAlumno/Responsable/} + ${alumno.nie}">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-vcard" viewBox="0 0 16 16">
                                    <path d="M5 8a2 2 0 1 0 0-4 2 2 0 0 0 0 4m4-2.5a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 0 1h-4a.5.5 0 0 1-.5-.5M9 8a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 0 1h-4A.5.5 0 0 1 9 8m1 2.5a.5.5 0 0 1 .5-.5h3a.5.5 0 0 1 0 1h-3a.5.5 0 0 1-.5-.5"/>
                                    <path d="M2 2a2 2 0 0 0-2 2v8a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V4a2 2 0 0 0-2-2zM1 4a1 1 0 0 1 1-1h12a1 1 0 0 1 1 1v8a1 1 0 0 1-1 1H8.96q.04-.245.04-.5C9 10.567 7.21 9 5 9c-2.086 0-3.8 1.398-3.984 3.181A1 1 0 0 1 1 12z"/>
                                  </svg>
                                <span class="fs-6 ms-2 d-none d-sm-inline"> Datos del responsable</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </nav>

            <div class="col-md-10 offset-md-2">
                <header th:replace="~{home :: header}"></header>

                <div class="container-fluid" style="padding-top: 56px;">

                    <h1 class="my-2  ">Datos del responsable del alumno</h1>
                    <div class="col-6 my-5" >
                        <table class="table  table-striped">
                            
                            <tbody class="">
                                                             
                                <tr>
                                    <th  class="text-start">Apellidos</th>
                                    <td class="text-start" th:text="${alumno.apellidoEncargado}" ></td>
                                   
                                  </tr>
                                  <tr>
                                    <th  class="text-start">Nombres</th>
                                    <td class="text-start" th:text="${alumno.nombreEncargado}"></td>
                                    
                                  </tr>
                                 
                                  <tr>
                                    <th  class="text-start">DUI</th>
                                    
                                    <td class="text-start" th:text="${alumno.duiEncargado}"></td>
                                  </tr>
                                  <tr>
                                    <th  class="text-start">Teléfono</th>
                                    
                                    <td class="text-start"  th:text="${alumno.telefonoEncargado}"></td>
                                  </tr>
                                  <tr>
                                    <th  class="text-start">Correo electrónico</th>
                                    
                                    <td class="text-start" th:text="${alumno.correoEncargado}"></td>
                                  </tr>
                                  <tr>
                                    <th class="text-start">Parentesco</th>
                                    <td  class="text-start" th:text="${alumno.parentescoEncargado}"></td>
                                </tr>
                                  <tr>
                                    <th  class="text-start">Lugar de trabajo</th>                                    
                                    <td class="text-start"   th:text="${alumno.lugarDeTrabajo}"></td>
                                  </tr>
                                  
                            </tbody>
                        </table>
                    </div>
                    <div class="text-start">
                        <a th:href="@{/ExpedienteAlumno/ver}" class="btn btn-primary " th:text="'Regresar'"> </a>
            
                    </div>
                </div>
            </div>
        </div>
    </div>

    
    
</body>

<footer th:replace="~{home :: footer}"></footer>
</html>
