<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{home :: head}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    
</head>
<body>

    <div class="container-fluid">
        <div class="row">
            <div th:replace="~{Expediente_alumno\AlumnoInformacion :: barraLateral}"></div>

            <div class="col-md-10 offset-md-2">
                <header th:replace="~{home :: header}"></header>

                <div class="container-fluid" style="padding-top: 56px;">

                    <h2 class="my-2  ">Datos del responsable del alumno</h2>
                    <div class="col-12 col-lg-7 my-4">
                        <table class="table  table-striped">
                            
                            <tbody class="">
                                                             
                                <tr>
                                    <th  class="text-start">Apellidos</th>
                                    <td class="text-start" th:text="${alumno.apellidoEncargado}" ></td>
                                   
                                  </tr>
                                  <tr>
                                    <th  class="text-start">Nombres</th>
                                    <td class="text-start" th:text="${alumno.nombreEncargado}"></td>
                                    
                                  </tr>
                                 
                                  <tr>
                                    <th  class="text-start">DUI</th>
                                    
                                    <td class="text-start" th:text="${alumno.duiEncargado}"></td>
                                  </tr>
                                  <tr>
                                    <th  class="text-start">Teléfono</th>
                                    
                                    <td class="text-start"  th:text="${alumno.telefonoEncargado}"></td>
                                  </tr>
                                  <tr>
                                    <th  class="text-start">Correo electrónico</th>
                                    
                                    <td class="text-start" th:text="${alumno.correoEncargado}"></td>
                                  </tr>
                                  <tr>
                                    <th class="text-start">Parentesco</th>
                                    <td  class="text-start" th:text="${alumno.parentescoEncargado}"></td>
                                </tr>
                                  <tr>
                                    <th  class="text-start">Lugar de trabajo</th>                                    
                                    <td class="text-start"   th:text="${alumno.lugarDeTrabajo}"></td>
                                  </tr>
                                  
                            </tbody>
                        </table>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>

    
    
</body>

<footer th:replace="~{home :: footer}"></footer>
</html>
