<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{home :: head}">
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Crear</title>
    <link rel="stylesheet" th:href="@{/css/style.css}" />
    <!-- Incluye Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.1.0/css/bootstrap.min.css">
</head>

<body>
    <header th:replace="~{home :: header}"></header>
    <div class="container my-4 py-5">

        <form class="row g-3 needs-validation" novalidate th:action="@{/ExpedienteAlumno/guardar}" th:object="${alumno}"
            method="post" id="formulario">

            <div class="row g-3 align-items-center text-center">
                <h3 class="text-center custom-h2">
                    IDENTIFICACION DEL CENTRO EDUCATIVO
                </h3>
                <div class="col-12 col-md-8 mx-auto">
                    <label for="exampleInputPassword1" class="form-label fs-6">Especialidad del bachillerato:</label>

                    <select th:field="*{bachillerato}" class="form-select" aria-label="Default select example" required>
                        <option value="" selected>Seleccione</option>
                        <option th:each="bachillerato : ${bachilleratos}" th:value="${bachillerato.codigoBachillerato}"
                            th:text="${bachillerato.grado +'° '+ bachillerato.nombreCarrera  + ' - Sección ' + bachillerato.seccion}">
                        </option>
                    </select>
                    <div class="invalid-feedback">
                        Es necesario seleccionar una especialidad
                    </div>
                </div>
            </div>

            <div class="row">
                <h3 class="text-center custom-h2 my-2">
                    IDENTIFICACION DEL ESTUDIANTE
                </h3>

                <div class="col-12 col-md-4">
                    <label for="exampleInputEmail1" class="form-label fs-6">NIE:</label>
                    <input type="text" th:field="*{nie}" class="form-control restricted-input" id="nie"
                        th:readonly="${editar}" th:classappend="${editar} ? 'bg-light text-dark' : ''" required
                        minlength="7" maxlength="7" />
                    <div class="invalid-feedback">
                        Es necesario agregar el NIE
                    </div>

                </div>

                <div class="col-12 col-md-4">
                    <label for="exampleInputEmail1" class="form-label fs-6">DUI:</label>
                    <input type="text" th:field="*{duiAlumno}" class="form-control " id="duiAlumno" />
                </div>

                <div class="col-12 col-md-4">
                    <label for="exampleInputEmail1" class="form-label fs-6">Teléfono:</label>
                    <input type="text" th:field="*{telefonoAlumno}" class="form-control restricted-input" id="telefono"
                        required minlength="9" maxlength="" />
                    <div class="invalid-feedback">
                        Es necesario agregar el telefóno del estudiante
                    </div>

                </div>
            </div>

            <div class="row my-2">
                <div class="col-12 col-md-6">
                    <label for="exampleInputEmail1" class="form-label fs-6">Nombres:</label>
                    <input type="text" th:field="*{nombreAlumno}" class="form-control" id="nombres" required
                        maxlength="50" />
                    <div class="invalid-feedback">
                        Es necesario agregar los nombres del estudiante
                    </div>
                </div>

                <div class="col-12 col-md-6">
                    <label for="exampleInputEmail1" class="form-label fs-6">Apellidos:</label>
                    <input type="text" th:field="*{apellidoAlumno}" class="form-control" id="apellidos" required
                        maxlength="50" />
                    <div class="invalid-feedback">
                        Es necesario agregar los apellidos del estudiante
                    </div>

                </div>
            </div>

            <div class="row my-2">
                <div class="col-12 col-md-4">
                    <label for="exampleInputEmail1" class="form-label fs-6">Fecha de Nacimiento:</label>
                    <input type="date" th:field="*{fechaNacimientoAlumno}" class="form-control" id="fechaNacimiento"
                        required />
                    <div class="invalid-feedback">
                        Es necesario agregar la fecha de nacimiento del estudiante
                    </div>

                </div>

                <div class="col-12 col-md-4">
                    <label for="exampleInputEmail1" class="form-label fs-6">Dirección actual:</label>
                    <input type="text" th:field="*{direccionAlumno}" class="form-control" id="direccion" required
                        maxlength="60" />
                    <div class="invalid-feedback">
                        Es necesario agregar el dirección donde vive el estudiante
                    </div>

                </div>

                <div class="col-12 col-md-4">
                    <label for="exampleInputEmail1" class="form-label fs-6">Género:</label>
                    <select th:field="*{sexoAlumno}" class="form-select" aria-label="Default select example" required>
                        <option value="" selected>Seleccione</option>
                        <option value="M">M</option>
                        <option value="F">F</option>
                    </select>
                    <div class="invalid-feedback">
                        Es necesario agregar el genero del estudiante
                    </div>

                </div>
            </div>

            <div class="row my-2">
                <div class="col-12 col-md-6">
                    <label for="exampleInputEmail1" class="form-label fs-6">Correo electrónico:</label>
                    <input type="email" th:field="*{correoAlumno}" class="form-control" id="correo" maxlength="50" />

                </div>
                <div class="col-12 col-md-6">
                    <label for="exampleInputEmail1" class="form-label fs-6">Vive con:</label>
                    <select th:field="*{viveCon}" class="form-select" aria-label="Default select example" required>
                        <option value="" selected>Seleccione</option>
                        <option value="Ambos padres">Ambos padres</option>
                        <option value="Madre">Madre</option>
                        <option value="Padre">Padre</option>
                        <option value="Abuela">Abuela</option>
                        <option value="Abuelo">Abuelo</option>
                        <option value="Tía">Tía</option>
                        <option value="Tío">Tío</option>
                    </select>
                    <div class="invalid-feedback">
                        Es necesario seleccionar con quien vive
                    </div>

                </div>
            </div>

            <div class="row my-2">
                <div class="col-12 col-md-4">
                    <label for="padecimientos" class="form-label fs-6">Padece enfermedad:</label>
                    <input type="text" th:field="*{padecimientos}" class="form-control" id="enfermedad"
                        maxlength="50" />

                </div>

                <div class="col-12 col-md-4">
                    <label for="medicamento" class="form-label fs-6">Medicamento:</label>
                    <input type="text" th:field="*{medicamento}" class="form-control" id="medicamento" maxlength="50" />
                </div>

                <div class="col-12 col-md-4">
                    <label for="formaMedicacion" class="form-label fs-6">Forma medicación:</label>
                    <input type="text" th:field="*{formaMedicacion}" class="form-control" id="formaMedicacion"
                        maxlength="50" />
                </div>
            </div>

            <div class="row my-2">
                <h3 class="text-center custom-h2 my-2">
                    DATOS DEL RESPONSABLE
                </h3>

                <div class="col-12 col-md-4">
                    <label for="exampleInputEmail1" class="form-label fs-6">DUI:</label>
                    <input type="text" th:field="*{duiEncargado}" class="form-control" id="duiEncargado" required
                        minlength="10" maxlength="10" />
                    <div class="invalid-feedback">
                        Es necesario agregar el DUI del responble del alumno
                    </div>

                </div>

                <div class="col-12 col-md-4">
                    <label for="Parentesco" class="form-label fs-6">Parentesco:</label>
                    <select th:field="*{parentescoEncargado}" class="form-select" aria-label="Default select example"
                        required>
                        <option value="" selected>Seleccione</option>
                        <option value="Madre">Madre</option>
                        <option value="Padre">Padre</option>
                        <option value="Abuelo/a">Abuelo/a</option>
                        <option value="Tío/a">Tío/a</option>
                        <option value="Hermano/a">Hermano/a</option>
                        <option value="Primo/a">Primo/a</option>
                    </select>
                    <div class="invalid-feedback">
                        Es necesario seleccionar el parentesto
                    </div>

                </div>

                <div class="col-12 col-md-4">
                    <label for="telefonoEncargado" class="form-label fs-6">Teléfono:</label>
                    <input type="text" th:field="*{telefonoEncargado}" class="form-control " id="telefonoEncargado"
                        required minlength="8" maxlength="8" />
                    <div class="invalid-feedback">
                        Es necesario agregar el telefóno del responsable
                    </div>

                </div>
            </div>

            <div class="row my-2">
                <div class="col-12 col-md-6">
                    <label for="nombresEncargado" class="form-label fs-6">Nombres:</label>
                    <input type="text" th:field="*{nombreEncargado}" class="form-control" id="nombreResponsable"
                        required maxlength="50" />
                    <div class="invalid-feedback">
                        Es necesario agregar los nombres del responsable
                    </div>

                </div>

                <div class="col-12 col-md-6">
                    <label for="apellidoEncargado" class="form-label fs-6">Apellidos:</label>
                    <input type="text" th:field="*{apellidoEncargado}" class="form-control" id="apellidoResponsable"
                        required maxlength="50" />
                    <div class="invalid-feedback">
                        Es necesario agregar los apellidos del responsable
                    </div>
                </div>
            </div>

            <div class="row my-2">
                <div class="col-12 col-md-4">
                    <label for="lugarDeTrabajo" class="form-label fs-6">Lugar de trabajo:</label>
                    <input type="text" th:field="*{lugarDeTrabajo}" class="form-control" id="nombreResponsable" required
                        maxlength="30" />
                    <div class="invalid-feedback">
                        Es necesario agregar el lugar de trabajo
                    </div>
                </div>

                <div class="col-12 col-md-8">
                    <label for="correoEncargado" class="form-label fs-6">Correo electrónico:</label>
                    <input type="email" th:field="*{correoEncargado}" class="form-control" id="apellidoResponsable"
                        maxlength="50" />
                </div>
            </div>

            <div class="row justify-content-center text-center">
                <div class="col-auto">
                    <button type="submit" class="btn btn-primary my-2">Guardar</button>
                </div>

                <div class="col-auto">
                    <a class="btn btn-danger my-2" th:href="@{/ExpedienteAlumno/ver}" th:text="Cancelar"></a>
                </div>
            </div>
        </form>
    </div>

    <!-- Modal de Error -->
    <div class="modal fade" id="errorModal" tabindex="-1" aria-labelledby="errorModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="errorModalLabel">Error</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p id="errorMessage"></p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
    </div>


    <!-- Incluye Bootstrap JS y sus dependencias -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.16/jquery.mask.js"></script>
    <script>
        $('#telefono').mask('0000-0000');
        $('#telefonoEncargado').mask('0000-0000');
        $('#dui').mask('00000000-0');
        $('#duiEncargado').mask('00000000-0');
        $('#nie').mask('0000000');
    </script>



    <script type="text/javascript" th:src="@{/js/validacionAlumno.js}"></script>
</body>

<footer th:replace="~{home ::footer}"></footer>

</html>