<!DOCTYPE html>
<html lang="en">

<head th:replace="~{home :: head}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" th:href="@{/css/style.css}" />

</head>

<body>
    <header th:replace="~{home :: header}"></header>
    
    <div class="container my-4 py-5 flex-wrap">
<!--Mensajes-->
<div class="alert alert-success alert-dismissible fade show mt-1 ms-2 mr-2" th:if="${success != null}">
    <label th:text="${success}"></label>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>

<div class="alert alert-danger alert-dismissible fade show mt-1 ms-2 mr-2" th:if="${error != null}">
    <label th:text="${error}"></label>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>

<div class="alert alert-warning alert-dismissible fade show mt-1 ms-2 mr-2" th:if="${warning != null}">
    <label th:text="${warning}"></label>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>

        <div class="d-flex justify-content-between align-items-center mb-3 flex-wrap">
            <h3 class="text-start col-lg-9" th:text="${carrera != null || grado != null || seccion != null ?
                'Alumnos de ' +
                (grado != null ? grado + '° ' : '') +
                (carrera != null ? carrera : '') +
                (carrera != null && seccion != null ? ', ' : '') +
                (seccion != null ? 'sección: ' + seccion : '') : 
                'Listado de alumnos'}"><!-- Si todas las variables son null, establece el texto como 'Listado de alumnos' -->
            </h3>


            <div class="d-flex gap-2">
                <a class="btn btn-secondary"
                    th:href="@{/ExpedienteAlumno/ver(format='pdf', carrera=${carrera}, grado=${grado}, seccion=${seccion})}"
                    data-bs-toggle="tooltip" data-bs-placement="top" title="Imprimir listado actual" target="_blank"
                    onclick="openInPopup(this.href); return false;">
                    <i class="bi bi-printer"></i> Imprimir listado
                </a>

                <a th:href="@{/ExpedienteAlumno/Crear}" class="btn btn-success"
                data-bs-toggle="tooltip" data-bs-placement="top" title="Agregar alumno" th:text="'Agregar alumno'"></a>
            </div>
        </div>
        <div class="row my-2">
            <div class="col-md-4 col-lg-3 mb-3">
                <div class="card">
                    <div class="container my-2">
                        <h1 class="fs-6">Filtrar Alumnos</h1>
                        <form th:action="@{/ExpedienteAlumno/ver}" method="get">
                            <div class="mb-3">
                                <label for="carrera" class="form-label fs-6">Carrera:</label>
                                <select id="carrera" name="carrera" th:value="${carrera}" class="form-select"
                                    aria-label="Default select example">
                                    <option value="" selected>Seleccione</option>
                                    <option th:each="bachillerato : ${bachilleratos}"
                                        th:value="${bachillerato.nombreCarrera}"
                                        th:text="${bachillerato.nombreCarrera}">
                                    </option>
                                </select>
                            </div>
                            <div class="mb-3">
                                <label for="grado" class="form-label fs-6">Año:</label>
                                <select id="grado" name="grado" th:value="${grado}" class="form-select">
                                    <option value="" selected>Seleccione</option>
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                </select>
                            </div>
                            <div class="mb-3">
                                <label for="seccion" class="form-label fs-6">Sección:</label>
                                <select id="seccion" name="seccion" th:value="${seccion}" class="form-select">
                                    <option value="" selected>Seleccione</option>
                                    <option value="A">A</option>
                                    <option value="B">B</option>
                                    <option value="C">C</option>
                                    <option value="D">D</option>
                                </select>
                            </div>
                            <input type="submit" class="btn btn-primary" value="Filtrar">
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-md-8 col-lg-9 table-responsive">
                <table class="table ">
                    <thead class="thead table-dark text-start">
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Nie</th>
                            <th scope="col">Apellidos</th>
                            <th scope="col">Nombre</th>
                            <th scope="col">Carrera</th>
                            <th scope="col">Sección</th>
                            <th scope="col">Año</th>
                            <th scope="col">Acciones</th>
                        </tr>
                    </thead>
                    <tbody class="table-group-divider fs-6">
                        <!-- Iterar sobre la lista de alumnos -->
                        <tr th:each="alumno, stat : ${alumnos}">
                            <th scope="row" th:text="${stat.index + 1}"></th>
                            <td class="text-start fs-6" th:text="${alumno.nie}"></td>
                            <td class="text-start fs-6" th:text="${alumno.apellidoAlumno}"></td>
                            <td class="text-start fs-6" th:text="${alumno.nombreAlumno}"></td>
                            <td class="text-start fs-6" th:text="${alumno.bachillerato.nombreCarrera}"></td>
                            <td class="text-center fs-6" th:text="${alumno.bachillerato.seccion}"></td>
                            <td class="text-center fs-6" th:text="${alumno.bachillerato.grado}"></td>
                            <td class="text-center">
                                <a class="btn btn-success" th:href="@{/ExpedienteAlumno/Alumno/} + ${alumno.nie}"
                                data-bs-toggle="tooltip" data-bs-placement="top" title="Consultar">
                                    <i class="bi bi-file-earmark-text"></i>
                                </a>
                                <a class="btn btn-primary" th:href="@{/ExpedienteAlumno/editar/} + ${alumno.nie}"
                                data-bs-toggle="tooltip" data-bs-placement="top" title="Editar">
                                    <i class="bi bi-pencil-square"></i>
                                </a>
                                <a class="btn btn-danger delete-btn"
                                    th:href="@{/ExpedienteAlumno/delete/} + ${alumno.nie}" data-bs-toggle="tooltip"
                                    data-bs-placement="top" title="Eliminar">
                                    <i class="bi bi-trash"></i>
                                </a>

                                <a th:href="@{/ExpedienteAlumno/editar/{id}(id=${alumno.nie}, format='pdf')} "
                                    class="btn btn-secondary " data-bs-toggle="tooltip" data-bs-placement="top"
                                    title="Imprimir" target="_blank" onclick="openInPopup(this.href); return false;">
                                    <i class="bi bi-printer"></i>
                                </a>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <!-- Contenedor de navegación para la paginación -->
                <nav aria-label="...">
                    <!-- Lista de elementos de paginación centrada -->
                    <ul class="pagination justify-content-center">
                        <!-- Elemento de la lista para el enlace "Anterior" -->
                        <!-- Si la página actual es la primera, se desactiva el enlace -->
                        <li class="page-item" th:classappend="${page == 1} ? 'disabled' : ''">
                            <!-- Enlace que lleva a la página anterior -->
                            <a class="page-link"
                                th:href="@{/ExpedienteAlumno/ver(page=${page - 1}, carrera=${carrera}, grado=${grado}, seccion=${seccion})}">Anterior</a>
                        </li>
                        <!-- Bucle que genera los enlaces para cada página -->
                        <!-- Se usa th:each para iterar desde 1 hasta el total de páginas -->
                        <!-- Se resalta el enlace de la página actual con la clase "active" -->
                        <li class="page-item" th:each="i : ${#numbers.sequence(1, totalPages)}"
                            th:classappend="${i == page} ? 'active' : ''">
                            <!-- Enlace que lleva a la página correspondiente -->
                            <a class="page-link"
                                th:href="@{/ExpedienteAlumno/ver(page=${i}, carrera=${carrera}, grado=${grado}, seccion=${seccion})}"
                                th:text="${i}"></a>
                        </li>
                        <!-- Elemento de la lista para el enlace "Siguiente" -->
                        <!-- Si la página actual es la última, se desactiva el enlace -->
                        <li class="page-item" th:classappend="${page == totalPages} ? 'disabled' : ''">
                            <!-- Enlace que lleva a la página siguiente -->
                            <a class="page-link"
                                th:href="@{/ExpedienteAlumno/ver(page=${page + 1}, carrera=${carrera}, grado=${grado}, seccion=${seccion})}">Siguiente</a>
                        </li>
                    </ul>
                </nav>


            </div>
        </div>
    </div>

    <!-- Modal de Confirmación -->
    <div class="modal fade" id="confirmDeleteModal" tabindex="-1" aria-labelledby="confirmDeleteModalLabel"
        aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="confirmDeleteModalLabel">Confirmar Eliminación</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    ¿Estás seguro de eliminar el registro? Esta acción no puede deshacerse.
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                    <button type="button" class="btn btn-danger" id="confirmDeleteButton">Eliminar</button>
                </div>
            </div>
        </div>
    </div>

    <footer th:replace="~{home :: footer}"></footer>

    <!-- Incluye Bootstrap JS y Popper.js -->

    <script type="text/javascript" th:src="@{/js/modalEliminacion.js}"></script>
</body>

</html>