<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="~{home :: head}"></head>

<body>
    <header th:replace="~{home :: header}"></header>
    <div class="py-5"></div>
    <div class="container">
        <!--Mensajes-->
        <div th:replace="~{alertas::alertas}"></div>
        <nav class="px-4" aria-label="breadcrumb">
            <ol class="breadcrumb mb-3">
                <li class="breadcrumb-item">
                    <a th:href="@{/administracion}" class="text-decoration-none text-secondary">Administración</a>
                </li>
                <li class="breadcrumb-item active" aria-current="page"> Crear año</li>
            </ol>
        </nav>

        <div class="py-4 bg-light">
            <h1 class="text-center">Creacion de años</h1>
        </div>
        <div class="py-2"></div>

        <div class="py-1">
            <div class="d-flex justify-content-between align-items-center mb-3 my-3 flex-wrap">
                <h3 class="text-start col-lg-9"></h3>
                <div class="d-flex gap-2">
                    <a class="btn btn-primary Agregar-btn" data-bs-toggle="tooltip" data-bs-placement="top"
                        title="Crear oferta" th:text="'Crear año'"></a>
                </div>
            </div>

            <div class="table-responsive py-2">
                <table class="table table-hover">
                    <thead class="tabla-c">
                        <tr>
                            <th scope="col">N°</th>
                            <th scope="col">Año</th>
                            <th scope="col">Estado</th>
                            <th scope="col">Matricula</th>
                            <th scope="col">Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="anios, stat: ${lista}">
                            <th scope="row" th:text="${stat.index + 1}"></th>
                            <td th:text="${anios.anio}"></td>
                            <td th:if="${anios.activoAnio != true && anios.cerrado ==false}" th:text="${'Inactivo'}">
                            </td>
                            <td th:if="${anios.activoAnio != true && anios.cerrado ==true}" th:text="${'Cerrado'}"></td>
                            <td th:if="${anios.activoAnio == true}" th:text="${'Activo'}"></td>
                            <td th:if="${anios.activoMatricula != true}" th:text="${'Inactivo'}"></td>
                            <td th:if="${anios.activoMatricula == true}" th:text="${'Activo'}"></td>
                            <td>
                                <a class="btn btn-warning" th:if="${!anioBachilleratoMap[anios.idAnioAcademico]}"
                                    data-bs-t="tooltip" data-bs-placement="top"
                                    th:href="@{/Bachillerato/Oferta/}+${anios.idAnioAcademico}" title="Crear oferta">
                                    <i class="bi bi-plus-circle"></i> Crear oferta
                                </a>
                                <a class="btn btn-success"
                                    th:if="${anioBachilleratoMap[anios.idAnioAcademico] && anios.cerrado==false}"
                                    data-bs-t="tooltip" data-bs-placement="top" title="Consultar"
                                    th:href="@{/Bachillerato/VerOferta/}+${anios.idAnioAcademico}">
                                    <i class="bi bi-file-earmark-text"></i>
                                </a>
                                <a class="btn btn-primary editar-btn" sec:authorize="hasAnyRole('ADMINISTRADOR')"
                                    th:if="${anioBachilleratoMap[anios.idAnioAcademico]}" data-bs-toggle="modal"
                                    data-bs-t="tooltip" data-bs-target="#actualizarAnioModal" data-bs-placement="top"
                                    title="Editar" th:data-id="${anios.idAnioAcademico}"
                                    th:data-est="${anios.activoAnio}" th:data-an="${anios.anio}"
                                    th:data-ma="${anios.activoMatricula}" th:data-ce="${anios.cerrado}">
                                    <i class="bi bi-pencil-square"></i>
                                </a>
                                <!-- Boton editar solo para Director y subdirectora -->
                                <a class="btn btn-primary editar-btn"
                                    sec:authorize="hasAnyRole('DIRECTOR','SUBDIRECTORA')"
                                    th:if="${anioBachilleratoMap[anios.idAnioAcademico] && anios.cerrado==false}"
                                    data-bs-toggle="modal" data-bs-t="tooltip" data-bs-target="#actualizarAnioModal"
                                    data-bs-placement="top" title="Editar" th:data-id="${anios.idAnioAcademico}"
                                    th:data-est="${anios.activoAnio}" th:data-an="${anios.anio}"
                                    th:data-ma="${anios.activoMatricula}" th:data-ce="${anios.cerrado}">
                                    <i class="bi bi-pencil-square"></i>
                                </a>
                                <a class="btn btn-info cerrar-btn"
                                    th:if="${anios.activoAnio && anioBachilleratoMap[anios.idAnioAcademico] != null}"
                                    data-bs-t="tooltip" data-bs-placement="top" title="Finalizar año"
                                    th:href="${'/Bachillerato/cierreAcademico/' + anios.idAnioAcademico}">
                                    <i class="bi bi-mortarboard"></i>
                                </a>

                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <!-- Modal de creacion de año -->
    <div class="modal fade" id="agregarModal" tabindex="-1" aria-labelledby="confirmAgregarModalLabel"
        aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="confirmAgregarModalLabel">Crear año</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <form th:object="${anio}" class="needs-validation" id="formAnio" novalidate method="post"
                    th:action="@{/Bachillerato/guardarAnio}">
                    <div class="modal-body">
                        <div class="mb-3">
                            <label for="anioLabel" class="form-label fw-bold">Año:</label>
                            <input type="text" th:field="*{anio}"
                                class="form-control restricted-input border border-secondary" id="anio"
                                placeholder="0000" required minlength="4" maxlength="4" />
                            <div class="invalid-feedback">
                                Este campo no puede quedar vacio y el año debe de ser mayo a 2020.
                            </div>
                        </div>

                    </div>
                    <div class="modal-footer text-center">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"
                            id="cancelarAnio">Cancelar</button>
                        <button type="submit" class="btn btn-primary" id="agregarModalButton">Guardar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!-- Modal de editar sancion -->
    <div class="modal fade" id="actualizarAnioModal" tabindex="-1" aria-labelledby="actualizarAnioModalLabel"
        aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="actualizarAnioModalLabel">Cambiar estado</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <form th:object="${anio}" class="needs-validation" id="formActualizarAnio" novalidate method="post"
                    th:action="@{/Bachillerato/editarAnio}">
                    <div class="modal-body">
                        <div class="mb-3">
                            <input type="hidden" th:field="*{idAnioAcademico}" id="editIdAnio" name="idAnioAcademico">
                            <input type="hidden" th:field="*{anio}" id="editAnio" name="AnioAcademico">
                            <input type="hidden" th:field="*{cerrado}" id="editcerrado" name="cerrado"
                                sec:authorize="hasAnyRole('DIRECTOR','SUBDIRECTORA')">

                            <label class="form-check-label" for="editEstado">Estado:</label>
                            <input class="form-check-input border border-secondary" type="checkbox" id="editEstado"
                                name="activoAnio" th:field="*{activoAnio}">

                        </div>
                        <div class="mb-3">
                            <label class="form-check-label" for="editEstado">Matricula:</label>
                            <input class="form-check-input border border-secondary" type="checkbox" id="editMatricula"
                                name="activoMatricula" th:field="*{activoMatricula}">

                        </div>
                        <div class="mb-3" sec:authorize="hasAnyRole('ADMINISTRADOR')">
                            <label class="form-check-label" for="editCerrado">Cerrado:</label>
                            <input class="form-check-input border border-secondary" type="checkbox" id="editcerrado"
                                name="activoMatricula" th:field="*{cerrado}">

                        </div>
                    </div>
                    <div class="modal-footer text-center">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"
                            id="cancelarActualizarAnio">Cancelar</button>
                        <button type="submit" class="btn btn-primary" id="guardarActualizarAnioButton">Guardar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!-- Modal de Error -->
    <div class="modal fade" id="errorModal" tabindex="-1" aria-labelledby="errorModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="errorModalLabel">Error</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p id="errorMessage"></p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal de Confirmación -->
    <div class="modal fade" id="confirmCerrarModal" tabindex="-1" aria-labelledby="confirmCerrarModalLabel"
        aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="confirmCerrarModalLabel">Confirmar Acción</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    ¿Estás seguro en realizar el cierre del año ahora? Esta acción no puede deshacerse.
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                    <button type="button" class="btn btn-primary" id="confirmCerrarButton">Aceptar</button>
                </div>
            </div>
        </div>
    </div>

    <footer th:replace="~{home :: footer}"></footer>
    <script>
        $('#anio').mask('0000');    
    </script>
    <script type="text/javascript" th:src="@{/js/GestionAnio.js}"></script>
</body>

</html>