<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="~{home :: head}"></head>

<body>
    <header th:replace="~{home :: header}"></header>
    <div class="py-5"></div>
    <div class="container">
        <nav class="px-4" th:if="${navMatriculados != false}" aria-label="breadcrumb">
            <ol class="breadcrumb mb-3">
                <li class="breadcrumb-item">
                    <a th:href="@{/administracion}" class="text-decoration-none text-secondary">Administración</a>
                </li>
                <li class="breadcrumb-item">
                    <a th:href="@{/Bachillerato/anio}" class="text-decoration-none text-secondary">Crear año</a>
                </li>    
                <li class="breadcrumb-item active" aria-current="page" > Oferta academica</li>
            </ol>
        </nav>
        <!--Mensajes-->
        <div th:replace="~{alertas::alertas}"></div>

        <div class="py-4 bg-light">
            <h1 class="text-center" th:text="${'Oferta academica '+ anioAcademico.anio}"></h1>
        </div>
        <div class="py-2"></div>

        <div class="py-1">
            <div class="d-flex justify-content-between align-items-center mb-3 my-3 flex-wrap">
                <h3 class="text-start col-lg-9">Listado de bachilleratos</h3>
                <div class="d-flex gap-2">
                    <a class="btn btn-primary Agregar-btn" data-bs-toggle="tooltip" data-bs-placement="top"
                        title="Agregar bachillerato" th:text="'Agregar bachillerato'"></a>
                </div>
            </div>

            <div class="table-responsive py-2">
                <table class="table table-hover">
                    <thead class="tabla-c">
                        <tr>
                            <th scope="col">N°</th>
                            <th scope="col">Año</th>
                            <th scope="col">Especialidad</th>
                            <th scope="col">Sección</th>
                            <th th:if="${anioAcademico.activoMatricula != false}" scope="col">Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="bachillerato, stat : ${bachilleratos}">
                            <th scope="row" th:text="${stat.index + 1}"></th>
                            <td th:text="${bachillerato.grado}"></td>
                            <td th:text="${bachillerato.nombreCarrera}"></td>
                            <td th:text="${bachillerato.seccion}"></td>
                            <td th:if="${bachillerato.anioAcademico.activoMatricula != false}">
                                <a th:href="@{/Bachillerato/deleteBachillerato/}+${bachillerato.codigoBachillerato}" class="btn btn-danger delete-btn" data-bs-placement="top" title="Eliminar">
                                    <i class="bi bi-trash"></i>
                                </a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <!-- Agregar nueva especialidad -->
    <div class="modal fade" id="agregarModal" tabindex="-1" aria-labelledby="confirmAgregarModalLabel"
        aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="confirmAgregarModalLabel">Agregar bachillerato</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <form th:object="${bachillerato}" class="needs-validation" id="formBachillerato" novalidate
                    th:action="@{/Bachillerato/guardarBachillerato/}+${anioAcademico.idAnioAcademico}" method="post">
                    <div class="modal-body">
                        <div class="mb-3">
                            <label for="carrera" class="form-label fs-6">Carrera:</label>
                            <select id="carrera" name="carrera" th:field="*{nombreCarrera}" class="form-select"
                                aria-label="Default select example" required>
                                <option value="" selected>Seleccione</option>
                                <option th:each="bachillerato : ${listaCarrera}"
                                    th:value="${bachillerato.nombreCarrera}" th:text="${bachillerato.nombreCarrera}">
                                </option>
                            </select>
                            <div class="invalid-feedback">Es necesario seleccionar una carrera.</div>
                        </div>
                        <div class="mb-3">
                            <label for="grado" class="form-label fs-6">Año:</label>
                            <select id="nivel" name="nivel" th:value="${nivel}" class="form-select" required>
                                <option selected value="">Seleccione</option>
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                            </select>

                            <div class="invalid-feedback">Es necesario seleccionar una año.</div>
                        </div>
                        <div class="mb-3">
                            <label for="seccion" class="form-label fs-6">Sección:</label>
                            <select id="seccion" name="seccion" th:field="*{seccion}" class="form-select" required>
                                <option value="" selected>Seleccione</option>
                                <option value="A">A</option>
                                <option value="B">B</option>
                                <option value="C">C</option>
                                <option value="D">D</option>
                            </select>
                            <div class="invalid-feedback">Es necesario seleccionar una sección</div>
                        </div>
                    </div>
                    <div class="modal-footer text-center">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"
                            id="cancelarSancion">Cancelar</button>
                        <button type="submit" class="btn btn-primary" id="agregarModalButton">Guardar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- Modal de Confirmación -->
    <div class="modal fade" id="confirmDeleteModal" tabindex="-1" aria-labelledby="confirmDeleteModalLabel"
        aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="confirmDeleteModalLabel">Confirmar Eliminación</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    ¿Estás seguro de eliminar este registro? Esta acción no puede deshacerse.
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                    <button type="button" class="btn btn-danger" id="confirmDeleteButton">Eliminar</button>
                </div>
            </div>
        </div>
    </div>
    <footer th:replace="~{home :: footer}"></footer>

    <script type="text/javascript" th:src="@{/js/gestionBachillerato.js}"></script>
    <script type="text/javascript" th:src="@{/js/modalEliminacion.js}"></script>

</body>

</html>