<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="~{home :: head}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ficha Personal Docente</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css">
    <link rel="stylesheet" th:href="@{/css/style.css}" />
    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.8.1/font/bootstrap-icons.min.css">
</head>

<body>
    <header th:replace="~{home :: header}"></header>

    <div class="container my-4 py-5">
        <div class="d-flex justify-content-between align-items-center mb-3 flex-wrap">
            <h2 class="text-start col-lg-6"
                th:text="${'Expediente de ' + profesor.nombreDocente + ' ' + profesor.apellidoDocente}"></h2>
            <div class="d-flex gap-2">

                <a class="btn btn-secondary" sec:authorize="hasRole('DOCENTE')"
                    th:href="@{/expedientedocente/editarmiexpediente}" data-bs-toggle="tooltip" data-bs-placement="top"
                    title="Editar mi expediente">
                    <i class="bi bi-pencil-square"></i> Editar
                </a>

                <a class="btn btn-secondary"
                    sec:authorize="hasAnyRole('ADMINISTRADOR','DIRECTOR','SUBDIRECTORA','SECRETARIA')"
                    th:href="@{/expedientedocente/consultarexpediente/{id}(id=${profesor.duiDocente}, format='pdf')}"
                    data-bs-toggle="tooltip" data-bs-placement="top" title="Imprimir ficha expediente" target="_blank"
                    onclick="openInPopup(this.href); return false;">
                    <i class="bi bi-printer"></i> Imprimir
                </a>

                <a class="btn btn-secondary" sec:authorize="hasRole('DOCENTE')"
                    th:href="@{/expedientedocente/miexpediente(format='pdf')}" data-bs-toggle="tooltip" data-bs-placement="top"
                    title="Imprimir ficha expediente" target="_blank" onclick="openInPopup(this.href); return false;">
                    <i class="bi bi-printer"></i> Imprimir
                </a>

                <a class="btn btn-secondary" th:href="@{/expedientedocente/Documentos/} + ${profesor.duiDocente}"
                    data-bs-toggle="tooltip" data-bs-placement="top" title="Gestionar documentos"><i
                        class="bi bi-file-earmark-text"></i> Documentos
                </a>
            </div>
        </div>
        <header th:replace="~{alertas :: alertas}"></header>


        <div class="card mb-1 shadow-sm">
            <div class="card-header custom-navbar text-white d-flex justify-content-between align-items-center"
                type="button" data-bs-toggle="collapse" data-bs-target="#collapseGeneral" aria-expanded="false"
                aria-controls="collapseGeneral">
                <h5 class="mb-0 text-center"><i class="bi bi-person-lines-fill me-2"></i>Datos Generales</h5>

                <i class="bi bi-chevron-down"></i>
            </div>
            <div id="collapseGeneral" class="collapse show">
                <div class="card-body">
                    <table class="table table-striped">
                        <tbody>
                            <tr>
                                <th class="text-start w-50" scope="row">Nombres</th>
                                <td class="text-start w-50" th:text="${profesor.nombreDocente}"></td>
                            </tr>
                            <tr>
                                <th class="text-start w-50" scope="row">Apellidos</th>
                                <td class="text-start w-50" th:text="${profesor.apellidoDocente}"></td>
                            </tr>
                            <tr>
                                <th class="text-start w-50" scope="row">Profesión</th>
                                <td class="text-start w-50" th:text="${profesor.profesionDocente}"></td>
                            </tr>
                            <tr>
                                <th class="text-start w-50" scope="row">Fecha de nacimiento</th>
                                <td class="text-start w-50" th:text="${profesor.fechaNacimientoD}"></td>
                            </tr>
                            <tr>
                                <th class="text-start w-50" scope="row">Dirección</th>
                                <td class="text-start w-50" th:text="${profesor.direccionDocente}"></td>
                            </tr>
                            <tr>
                                <th class="text-start w-50" scope="row">Departamento</th>
                                <td class="text-start w-50" th:text="${profesor.departamentoD}"></td>
                            </tr>
                            <tr>
                                <th class="text-start w-50" scope="row">Municipio</th>
                                <td class="text-start w-50" th:text="${profesor.municipioD}"></td>
                            </tr>
                            <tr>
                                <th class="text-start w-50" scope="row">Distrito</th>
                                <td class="text-start w-50" th:text="${profesor.distritoDocente}"></td>
                            </tr>
                            <tr>
                                <th class="text-start w-50" scope="row">Zona</th>
                                <td class="text-start w-50" th:text="${profesor.zonaDocente}"></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <div class="card mb-1 shadow-sm">
            <div class="card-header custom-navbar text-white  d-flex justify-content-between align-items-center"
                type="button" data-bs-toggle="collapse" data-bs-target="#collapseContacto" aria-expanded="false"
                aria-controls="collapseContacto">
                <h5 class="mb-0 text-start"><i class="bi bi-folder-fill me-2"></i>Documentos e Información de Contacto
                </h5>

                <i class="bi bi-chevron-down"></i>
            </div>
            <div id="collapseContacto" class="collapse">
                <div class="card-body">
                    <table class="table table-striped">
                        <tbody>
                            <tr>
                                <th class="text-start w-50" scope="row">DUI</th>
                                <td class="text-start w-50" th:text="${profesor.duiDocente}"></td>
                            </tr>
                            <tr>
                                <th class="text-start w-50" scope="row">NIP</th>
                                <td class="text-start w-50" th:text="${profesor.nip}"></td>
                            </tr>
                            <tr>
                                <th class="text-start w-50" scope="row">NUP</th>
                                <td class="text-start w-50" th:text="${profesor.nup}"></td>
                            </tr>
                            <tr>
                                <th class="text-start w-50" scope="row">NIT</th>
                                <td class="text-start w-50" th:text="${profesor.nit}"></td>
                            </tr>
                            <tr>
                                <th class="text-start w-50" scope="row">Correo Electrónico</th>
                                <td class="text-start w-50" th:text="${profesor.correoDocente}"></td>
                            </tr>
                            <tr>
                                <th class="text-start w-50" scope="row">Celular</th>
                                <td class="text-start w-50" th:text="${profesor.telefonoDocente}"></td>
                            </tr>
                            <tr>
                                <th class="text-start w-50" scope="row">Telefono Fijo</th>
                                <td class="text-start w-50" th:text="${profesor.telefonoFijoDocente}"></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <div class="card mb-1 shadow-sm">
            <div class="card-header custom-navbar text-white d-flex justify-content-between align-items-center"
                type="button" data-bs-toggle="collapse" data-bs-target="#collapseInfoAdicional" aria-expanded="false"
                aria-controls="collapseInfoAdicional">
                <h5 class="mb-0 text-start">
                    <i class="bi bi-info-circle-fill me-2"></i>Información Adicional
                </h5>
                <i class="bi bi-chevron-down"></i>
            </div>
            <div id="collapseInfoAdicional" class="collapse">
                <div class="card-body">
                    <table class="table table-striped">
                        <tbody>
                            <tr>
                                <th class="text-start w-50" scope="row">Especialidad en estudio</th>
                                <td class="text-start w-50" th:text="${profesor.especialidadEnEstudio}"></td>
                            </tr>
                            <tr>
                                <th class="text-start w-50" scope="row">Fecha de ingreso al MYNEDUCIT</th>
                                <td class="text-start w-50" th:text="${profesor.fechaMineducyt}"></td>
                            </tr>
                            <tr>
                                <th class="text-start w-50" scope="row">Titulo que lo acredita como docente</th>
                                <td class="text-start w-50" th:text="${profesor.tituloDocente}"></td>
                            </tr>
                            <tr>
                                <th class="text-start w-50" scope="row">Curriculum VITAE actualizado</th>
                                <td class="text-start w-50" th:text="${profesor.curriculumDocente ? 'Sí' : 'No'}"></td>
                            </tr>
                            <tr>
                                <th class="text-start w-50" scope="row">Atestados</th>
                                <td class="text-start w-50" th:text="${profesor.atestadosDocente ? 'Sí' : 'No'}"></td>
                            </tr>
                            <tr>
                                <th class="text-start w-50" scope="row">Fecha de entrega</th>
                                <td class="text-start w-50" th:text="${profesor.fechaEntrega}"></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <div class="text-start">
            <a sec:authorize="hasAnyRole('ADMINISTRADOR','SECRETARIA', 'SUBDIRECTORA', 'DIRECTOR')"
                th:href="@{/expedientedocente/plantadocente}" class="btn btn-primary " th:text="'Regresar'"
                data-bs-toggle="tooltip" data-bs-placement="top" title="Regresar a la sección anterior"> </a>
            <a sec:authorize="hasRole('DOCENTE')" th:href="@{/}" class="btn btn-primary " th:text="'Regresar'"
                data-bs-toggle="tooltip" data-bs-placement="top" title="Regresar a la sección anterior"> </a>
        </div>

    </div>

    <footer th:replace="~{home :: footer}"></footer>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
    <script type="text/javascript" src="/js/tooltip.js"></script>
    <script>
        function openInPopup(url) {
            window.open(url, 'popup', 'width=800,height=600');
        }
    </script>
</body>

</html>