<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="~{home :: head}"></head>

<body>

    <div class="container-fluid">
        <div class="row">
            <div th:replace="~{Calificaciones\vistaActividades :: barraCalificaciones}">
            </div>
            <div class="col ms-auto py-5 my-2">
                <header th:replace="~{home :: header}"></header>

                <div class="container-fluid py-2 my-2 align-items-center">
                    <!--Mensajes-->
                    <div th:replace="~{alertas::alertas}"></div>
                    <!-- Carta para filtrar General -->
                    <div sec:authorize="hasAnyRole('ADMINISTRADOR','DIRECTOR','SUBDIRECTORA','SECRETARIA')"
                        class="card bg-light shadow-sm p-4 my-3">
                        <div class="container-fluid">
                            <form class="row gy-3 gx-4 align-items-center needs-validation" id="formCalificaciones"
                                novalidate method="get" th:action="@{/Calificaciones/General}">

                                <!-- Materia -->
                                <div class="col-md-6">
                                    <label for="materia" class="form-label fs-6 fw-semibold">Materia:</label>
                                    <div class="input-group">
                                        <span class="input-group-text"><i class="bi bi-journal-bookmark"></i></span>
                                        <select id="idMateria" name="idMateria" th:value="${idMateria}"
                                            class="form-select" aria-label="Seleccione una materia" required>
                                            <option value="" selected>Seleccione</option>
                                            <option th:each="materi : ${listaMaterias}" th:value="${materi.idMateria}"
                                                th:text="${materi.nomMateria}"
                                                th:selected="${materi.idMateria.toString() == idMateria}">
                                            </option>
                                        </select>
                                        <div class="invalid-feedback">Es necesario seleccionar una materia.</div>
                                    </div>
                                </div>

                                <!-- Docente -->
                                <div class="col-md-6">
                                    <label for="docente" class="form-label fs-6 fw-semibold">Docente:</label>
                                    <div class="input-group">
                                        <span class="input-group-text"><i class="bi bi-person-circle"></i></span>
                                        <select id="docente" name="docente" th:value="${docente}" class="form-select"
                                            aria-label="Seleccione un docente" required>
                                            <option value="" selected>Seleccione</option>
                                            <option th:each="docent : ${docentes}" th:value="${docent.duiDocente}"
                                                th:text="${docent.nombreDocente + ' ' + docent.apellidoDocente}"
                                                th:selected="${docent.duiDocente == docente}">
                                            </option>
                                        </select>
                                        <div class="invalid-feedback">Es necesario seleccionar un docente.</div>
                                    </div>
                                </div>
                                <!-- Carrera -->
                                <div class="col-md-6">
                                    <label for="carrera" class="form-label fs-6 fw-semibold">Carrera:</label>
                                    <div class="input-group">
                                        <span class="input-group-text"><i class="bi bi-building"></i></span>
                                        <select id="carrera" name="carrera" th:value="${carrera}" class="form-select"
                                            aria-label="Seleccione una carrera" required>
                                            <option value="" selected>Seleccione</option>
                                            <option th:each="bachillerato : ${bachilleratos}"
                                                th:value="${bachillerato.nombreCarrera}"
                                                th:text="${bachillerato.nombreCarrera}"
                                                th:selected="${bachillerato.nombreCarrera == carrera}">
                                            </option>
                                        </select>
                                        <div class="invalid-feedback">Es necesario seleccionar una carrera.</div>
                                    </div>
                                </div>
                                <!-- Año (Grado) -->
                                <div class="col-md-6">
                                    <label for="grado" class="form-label fs-6 fw-semibold">Año:</label>
                                    <div class="input-group">
                                        <span class="input-group-text"><i class="bi bi-calendar-event"></i></span>
                                        <select id="grado" name="grado" th:value="${grado}" class="form-select"
                                            aria-label="Seleccione un grado" required>
                                            <option value="" selected>Seleccione</option>
                                            <option value="1" th:selected="${grado == '1'}">1</option>
                                            <option value="2" th:selected="${grado == '2'}">2</option>
                                            <option value="3" th:selected="${grado == '3'}">3</option>
                                        </select>
                                        <div class="invalid-feedback">Es necesario seleccionar un año.</div>
                                    </div>
                                </div>
                                <!-- Sección -->
                                <div class="col-md-6">
                                    <label for="seccion" class="form-label fs-6 fw-semibold">Sección:</label>
                                    <div class="input-group">
                                        <span class="input-group-text"><i class="bi bi-list-check"></i></span>
                                        <select id="seccion" name="seccion" th:value="${seccion}" class="form-select"
                                            aria-label="Seleccione una sección" required>
                                            <option value="" selected>Seleccione</option>
                                            <option value="A" th:selected="${seccion == 'A'}">A</option>
                                            <option value="B" th:selected="${seccion == 'B'}">B</option>
                                            <option value="C" th:selected="${seccion == 'C'}">C</option>
                                            <option value="D" th:selected="${seccion == 'D'}">D</option>
                                        </select>
                                        <div class="invalid-feedback">Es necesario seleccionar una seccion.</div>
                                    </div>
                                </div>
                                <!-- Periodo -->
                                <div class="col-md-6">
                                    <label for="periodo" class="form-label fs-6 fw-semibold">Periodo:</label>
                                    <div class="input-group">
                                        <span class="input-group-text"><i class="bi bi-clock-history"></i></span>
                                        <select id="pe" name="pe" th:value="${pe}" class="form-select"
                                            aria-label="Seleccione un periodo" required>
                                            <option value="" selected>Seleccione</option>
                                            <option th:each="period : ${periodos}" th:value="${period.idPeriodo}"
                                                th:text="${period.numeroPeriodo}"
                                                th:selected="${period.idPeriodo.toString() == pe}">
                                            </option>
                                        </select>
                                        <div class="invalid-feedback">Es necesario seleccionar un periodo.</div>
                                    </div>
                                </div>
                                <!-- Botón de Buscar -->
                                <div class="col-12 text-end">
                                    <button type="submit" class="btn btn-primary">
                                        <i class="bi bi-search"></i> Buscar
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>

                    <!-- Carta para filtrar para docente -->
                    <div sec:authorize="hasAnyRole('DOCENTE')" th:if="${asignacion.materia.tipoMateria == 'Básica'}"
                        class="card bg-light shadow-sm p-3">
                        <div class="container-fluid">
                            <form class="row gy-3 gx-4 align-items-center" id="formPeriodo" method="get"
                                th:action="@{/Calificaciones/}+${asignacion.materia.idMateria+'/'+asignacion.bachillerato.codigoBachillerato}">
                                <!-- Label for Periodo -->
                                <div class="col-auto">
                                    <label for="periodo" class="form-label fs-5 fw-semibold ">Periodo:</label>
                                </div>
                                <!-- Periodo Select -->
                                <div class="col-12 col-md-4">
                                    <select id="pe" name="pe" th:value="${pe}" class="form-select"
                                        aria-label="Seleccione un periodo">
                                        <option value="" selected>Seleccione</option>
                                        <option th:each="period : ${periodos}" th:value="${period.idPeriodo}"
                                            th:text="${period.numeroPeriodo}"
                                            th:selected="${period.idPeriodo.toString() == pe}">
                                        </option>
                                    </select>
                                </div>
                                <!-- Submit Button -->
                                <div class="col-auto">
                                    <button type="submit" class="btn btn-primary">
                                        <i class="bi bi-search"></i> Buscar
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>                    
                    <div
                        th:if="${pe != null || (asignacion != null and asignacion.materia != null and asignacion.materia.tipoMateria != 'Básica')}">
                        <div class="d-flex justify-content-between align-items-center mb-3 my-3 flex-wrap">
                            <h3 class="text-start col-lg-9" th:text="${'Cuadro de notas de la materia: '+asignacion.materia.nomMateria +' - '+
                        asignacion.bachillerato.grado + '° ' + 
                        (asignacion.bachillerato.nombreCarrera == 'Electrónica' ? 'ECA' :
                        asignacion.bachillerato.nombreCarrera == 'Atención Primaria en Salud' ? 'APS' :
                        asignacion.bachillerato.nombreCarrera == 'Sistemas Eléctricos' ? 'SE' :
                        asignacion.bachillerato.nombreCarrera == 'Desarrollo de Software' ? 'DS' :
                        asignacion.bachillerato.nombreCarrera == 'Administrativo Contable' ? 'AC' :
                        asignacion.bachillerato.nombreCarrera) + ' ' + 
                        asignacion.bachillerato.seccion + ' '}"></h3>
                            <div class="d-flex gap-2">

                                <!-- <a class="btn btn-primary Agregar-btn" data-bs-toggle="tooltip" data-bs-placement="top"
                                title="Agregar Sancion" th:text="'Agregar actividad'"></a> -->
                            </div>
                        </div>
                        <div class="col-12 table-responsive">
                            <table class="table table-hover table-sm table-bordered">
                                <thead class="thead table-sm">
                                    <tr>
                                        <th scope="col" colspan="3"></th>

                                        <!-- Encabezado para tipos de actividades -->
                                        <th scope="col" th:each="actividad : ${actividadDTOList}"
                                            th:text="${actividad.nombreActividad}"
                                            th:attr="colspan=${actividad.cantidadActividades}"></th>
                                        <th scope="col"></th>
                                    </tr>
                                    <tr>
                                        <th scope="col" colspan="3"></th>
                                        <!-- Encabezado para nombres de actividades, iterar solo por actividades -->
                                        <th scope="col" th:each="actividad : ${listadoActividades}"
                                            th:text="${actividad.nombreActividad}" class="text-center align-middle "
                                            style="writing-mode: vertical-rl; text-orientation: mixed;"> </th>
                                        <th scope="col">Total</th>
                                    </tr>
                                </thead>
                                <thead class="thead ">
                                    <tr>
                                        <th scope="col">N°</th>
                                        <th scope="col">NIE</th>
                                        <th scope="col">Nombre alumno</th>
                                        <!-- Mostrar la ponderación de cada actividad -->
                                        <th scope="col" th:each="actividad : ${listadoActividades}"
                                            th:text="${actividad.ponderacionActividad} + '%'"></th>
                                        <th scope="col">100%</th>
                                    </tr>
                                </thead>
                                <tbody class="fs-6">
                                    <!-- Iterar sobre la lista de alumnos -->
                                    <tr th:each="alumno, stat : ${listaAlumnos}">
                                        <th scope="row" th:text="${stat.index + 1}"></th>
                                        <td th:text="${alumno.nie}"></td>
                                        <td class="text-start"
                                            th:text="${alumno.apellidoAlumno+' '+alumno.nombreAlumno}"></td>
                                        <!-- Iterar sobre las actividades para cada alumno -->
                                        <td th:each="actividad : ${listadoActividades}">
                                            <!-- Acceder a la nota correspondiente al alumno y actividad -->
                                            <span
                                                th:text="${notasPorAlumno[alumno.idAlumno][actividad.idActividad]?.notaObtenida ?: '-'}"></span>
                                        </td>
                                        <!-- Mostrar el total de notas por alumno -->
                                        <td th:text="${totalNotasPorAlumno[alumno.idAlumno]}"></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>


    <footer th:replace="~{home :: footer}"></footer>
    <script type="text/javascript" th:src="@{/js/validacionRequired.js}"></script>
</body>

</html>