<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{home :: head}"></head>

<body>
    <div class="container-fluid  ">
        <div class="row">
            <!--Barra Lateral-->
            <div class="col-auto p-0 min-vh-100" id="sidebar" th:fragment="barraCalificaciones">
                <div class="d-flex flex-column h-100 ">
                    <!-- Botón de abrir/cerrar menú bajado con py-5 y mb-2 -->
                    <div class="py-1 custom-navbar"></div>
                    <div class="pt-5 custom-navbar">
                        <button class="btn btn-primary" style="border-radius: 0;" type="button"
                            data-bs-toggle="collapse" data-bs-target="#sidebarMenu" aria-expanded="true"
                            aria-controls="sidebarMenu">
                            <i class="bi bi-layout-sidebar-inset"></i>
                        </button>
                    </div>
                    <div class="collapse collapse-horizontal show custom-navbar h-100" id="sidebarMenu">
                        <nav class="navbar navbar-expand-lg navbar-light custom-navbar-b ">
                            <ul class="nav flex-column mt-2 nav-pills">
                                <li class="nav-item">
                                    <div class="text-center bg-primary text-white">
                                        <h2>Año 2024</h2>
                                    </div>
                                </li>
                                <li class="nav-item" sec:authorize="hasAnyRole('DOCENTE')">
                                    <a class="nav-link"
                                        th:href="@{/Actividad/}+${asignacion.materia.idMateria+'/'+asignacion.bachillerato.codigoBachillerato}">
                                        <i class="bi bi-journal-check"></i>
                                        Gestor de actividades
                                    </a>
                                </li>
                                <li class="nav-item nav-pills" sec:authorize="hasAnyRole('DOCENTE')">
                                    <a class="nav-link"
                                        th:href="@{/Calificaciones/}+${asignacion.materia.idMateria+'/'+asignacion.bachillerato.codigoBachillerato}">
                                        <i class="bi bi-journal-text"></i>
                                        Calificaciones
                                    </a>
                                </li>
                                <li class="nav-item nav-pills" sec:authorize="hasAnyRole('DOCENTE')" th:if="${asignacion.materia.tipoMateria == 'Básica'}" >
                                    <a class="nav-link"
                                        th:href="@{/Calificaciones/CalificacionPeriodos/}+${asignacion.materia.idMateria+'/'+asignacion.bachillerato.codigoBachillerato}">
                                        <i class="bi bi-journal-text"></i>
                                        Promedio general
                                    </a>
                                </li>
                                <li class="nav-item"
                                    sec:authorize="hasAnyRole('ADMINISTRADOR','DIRECTOR','SUBDIRECTORA','SECRETARIA')">
                                    <a class="nav-link" th:href="@{/Calificaciones/General}">
                                        <i class="bi bi-journal-text"></i>
                                        Notas por Materia
                                    </a>
                                </li>
                                <li class="nav-item"
                                    sec:authorize="hasAnyRole('ADMINISTRADOR','DIRECTOR','SUBDIRECTORA','SECRETARIA')">
                                    <a class="nav-link text-white" th:href="@{/Calificaciones/alumnos}">
                                        <i class="bi bi-journal-text"></i>
                                        Notas por Alumno
                                    </a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>


            <!-- Contenido Principal -->
            <div class="col py-5 my-2">
                <header th:replace="~{home :: header}"></header>
                <div class="container-fluid py-2 my-2">
                    <!--Mensajes-->
                    <div th:replace="~{alertas::alertas}"></div>
                    <!-- Carta para filtrar -->
                    <div th:if="${asignacion.materia.tipoMateria == 'Básica'}" class="card bg-light shadow-sm p-3">
                        <div class="container-fluid">
                            <form class="row gy-3 gx-4 align-items-center" id="formPeriodo" method="get"
                                th:action="@{/Actividad/}+${asignacion.materia.idMateria+'/'+asignacion.bachillerato.codigoBachillerato}">

                                <!-- Label for Periodo -->
                                <div class="col-auto">
                                    <label for="periodo" class="form-label fs-5 fw-semibold ">Periodo:</label>
                                </div>

                                <!-- Periodo Select -->
                                <div class="col-10 col-md-4">
                                    <select id="pe" name="pe" th:value="${pe}" class="form-select"
                                        aria-label="Seleccione un periodo">
                                        <option value="" selected>Seleccione</option>
                                        <option th:each="period : ${periodos}" th:value="${period.idPeriodo}"
                                            th:text="${period.numeroPeriodo}"
                                            th:selected="${period.idPeriodo.toString() == pe}">
                                        </option>
                                    </select>
                                </div>

                                <!-- Submit Button -->
                                <div class="col-auto">
                                    <button type="submit" class="btn btn-primary">
                                        <i class="bi bi-search"></i> Buscar
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>

                    <!-- Se muestra solo si la lista no está vacia -->
                    <div th:if="${pe != null || asignacion.materia.tipoMateria != 'Básica'}">
                        <div class="d-flex justify-content-between align-items-center mb-3 my-3 flex-wrap">
                            <h3 class="text-start col-lg-9"
                                th:text="${'Actividades de '+asignacion.materia.nomMateria + ': '+asignacion.bachillerato.grado+ '° '+ asignacion.bachillerato.nombreCarrera+ ' ' + asignacion.bachillerato.seccion}">
                            </h3>
                            <div class="d-flex gap-2">
                                <a class="btn btn-primary Agregar-btn" data-bs-t="tooltip" data-bs-placement="top"
                                    title="Agregar Sancion" th:text="'Agregar actividad'"></a>
                            </div>
                        </div>

                        <div class="col-12 table-responsive-sm py-4 ">
                            <table class="table table-hover table-bordered table-sm">
                                <thead class="thead">
                                    <tr>
                                        <th scope="col">N°</th>
                                        <th scope="col">Nombre</th>
                                        <th scope="col">Tipo</th>
                                        <th scope="col">Fecha</th>
                                        <th scope="col">Ponderación</th>
                                        <!-- <th th:if="${asignacion.materia.tipoMateria == 'Básica'}" scope="col">Periodo
                                        </th> -->
                                        <th scope="col">Acciones</th>
                                    </tr>
                                </thead>
                                <tbody class="fs-6 align-middle ">
                                    <!-- Iterar sobre la lista de sanciones -->
                                    <tr th:each="actividad, stat: ${listadoActividades}">
                                        <th scope="row" th:text="${stat.index + 1}"></th>
                                        <td class="text-start" th:text="${actividad.nombreActividad}"></td>
                                        <td th:text="${actividad.tipoActividad}"></td>
                                        <td th:text="${#dates.format(actividad.fechaActividad,'dd/MM/yyyy')}"></td>
                                        <td th:text="${actividad.ponderacionActividad +'%'}"></td>
                                        <!-- <td th:if="${actividad.asignacion.materia.tipoMateria == 'Básica'}"
                                            th:text="${actividad.periodo.numeroPeriodo}"></td> -->
                                        <td>
                                            <a class="btn btn-success btn-sm" data-bs-t="tooltip"
                                                data-bs-placement="top" title="Calificaciones"
                                                th:href="@{/Calificaciones/registro/}+${actividad.idActividad}">
                                                <i class="bi bi-journal-text"></i>
                                            </a>
                                            <a class="btn btn-primary editar-btn btn-sm" data-bs-t="tooltip"
                                                data-bs-toggle="modal" data-bs-target="#EditarActividadModal"
                                                data-bs-placement="top" title="Editar"
                                                th:data-id="${actividad.idActividad}"
                                                th:data-non="${actividad.nombreActividad}"
                                                th:data-tip="${actividad.tipoActividad}"
                                                th:data-fec="${actividad.fechaActividad}"
                                                th:data-pon="${actividad.ponderacionActividad}"
                                                th:data-per="${actividad.periodo.idPeriodo}">
                                                <i class="bi bi-pencil-square"></i>
                                            </a>
                                            <a class="btn btn-danger delete-btn btn-sm"
                                                th:href="@{/Actividad/}+ ${actividad.asignacion.materia.idMateria+ '/'} + ${actividad.asignacion.bachillerato.codigoBachillerato+'/delete/'+actividad.idActividad}"
                                                data-bs-t="tooltip" data-bs-placement="top" title="Eliminar">
                                                <i class="bi bi-trash"></i>
                                            </a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <!-- Alerta que se muestra solo cuando se le manda una lista vacia de alumnos -->
                            <div class="alert alert-info alert-dismissible fade show mt-1 ms-2 mr-2"
                                th:if="${#lists.isEmpty(listadoActividades)}">
                                <i class="bi bi-info-circle"></i>
                                <label th:text="${'¡No hay actividades registradas!'}"></label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal agregar -->
    <div class="modal fade" id="agregarActividadModal" tabindex="-1" aria-labelledby="AgregarActividadLabel"
        aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="AgregarActividadLabel">Crear actividad</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <!-- Formulario dentro del modal -->
                    <form th:object="${actividad}" method="post" id="formActividad" class="needs-validation"
                        th:action="@{/Actividad/add}" novalidate>
                        <input type="hidden" id="idAsignacion" name="asignacion" th:value="${asignacion.idAsignacion}">
                        <input type="hidden" id="idPeriodo" name="periodo" th:value="${pe}">
                        <!-- <div class="mb-3" >
                            <label for="periodo" class="form-label fw-bold">Periodo</label>
                            <select th:field="*{periodo}" class="form-select border-secondary border-opacity-75"
                                id="periodo" required>
                                <option value="" selected>Selecciona </option>
                                <option th:each="period : ${periodos}" th:value="${period.idPeriodo}"
                                    th:text="${period.numeroPeriodo}">Leve</option>
                            </select>
                            <div class="invalid-feedback">Es necesario seleccionar el periodo.</div>
                        </div> -->
                        <div class="mb-3">
                            <label for="nombreActividadEditModal" class="col-form-label">Nombre de la
                                Actividad:</label>
                            <input type="text" class="form-control" id="nombreActividad" th:field="*{nombreActividad}"
                                required maxlength="20" />
                            <div class="invalid-feedback">Es necesario agregar un nombre.</div>
                        </div>
                        <div class="mb-3">
                            <!-- se muestra si la materia es del tipo módulo -->
                            <div th:if="${asignacion.materia.tipoMateria == 'Módulo'}">
                                <label class="col-form-label" for="descripcionActividadEditModal">Descripción:</label>
                                <textarea class="form-control" id="tipoActividad" th:field="*{tipoActividad}"
                                    maxlength="10" required></textarea>
                            </div>

                            <!-- se muestra si la materia es del tipo basica -->
                            <div th:if="${asignacion.materia.tipoMateria == 'Básica'}">
                                <label class="col-form-label" for="descripcionActividadEditModal">Tipo:</label>
                                <select th:field="*{tipoActividad}" class="form-select " id="tipoActividad" required>
                                    <option value="" selected>Selecciona </option>
                                    <option value="Actividad cotidiana" selected>Actividad cotidiana</option>
                                    <option value="Actividad integradora" selected>Actividad integradora</option>
                                    <option value="Autoevaluación" selected>Autoevaluación</option>
                                    <option value="Heteroevaluación" selected>Heteroevaluación</option>
                                    <option value="Examen de periodo" selected>Examen de periodo</option>
                                </select>
                            </div>

                            <div class="invalid-feedback">Es necesario seleccionar un tipo</div>
                        </div>
                        <div class="mb-3">
                            <label for="fechaActividadEditModal" class="col-form-label">Fecha de la
                                Actividad:</label>
                            <input type="date" class="form-control" id="fechaActividad" th:field="*{fechaActividad}"
                                required />
                            <div class="invalid-feedback">Es necesario agregar una fecha</div>
                        </div>
                        <div class="mb-3">
                            <label for="ponderacionActividadEditModal" class="col-form-label">Ponderación:</label>
                            <input type="number" class="form-control" id="ponderacionActividad"
                                th:field="*{ponderacionActividad}" min="0" max="100" required />
                            <div class="invalid-feedback">La poderación debe de ser mayor a 0 y menor a 100</div>
                        </div>
                        <!-- Botones del modal -->
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"
                                id="cancelarSancion">Cancelar</button>
                            <button type="submit" class="btn btn-primary" id="agregarModalButton">Guardar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal Editar -->
    <div class="modal fade" id="EditarActividadModal" tabindex="-1" aria-labelledby="EditarActividadModalLabel"
        aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="EditarActividadLabel">Editar actividad</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <!-- Formulario dentro del modal -->
                    <form th:object="${actividad}" method="post" id="formActividad" class="needs-validation"
                        th:action="@{/Actividad/add}" novalidate>
                        <input type="hidden" id="idActividad" name="idActividad">
                        <input type="hidden" id="idAsignacion" name="asignacion" th:value="${asignacion.idAsignacion}">
                        <input type="hidden" id="editPeriodo" name="periodo">
                        <!-- <div class="mb-3">
                            <label for="periodo" class="form-label fw-bold">Periodo</label>
                            <select th:field="*{periodo}" class="form-select border-secondary border-opacity-75"
                                id="editPeriodo" required>
                                <option value="" selected>Selecciona </option>
                                <option th:each="period : ${periodos}" th:value="${period.idPeriodo}"
                                    th:text="${period.numeroPeriodo}">Leve</option>
                            </select>
                            <div class="invalid-feedback">Es necesario seleccionar el periodo.</div>
                        </div> -->
                        <div class="mb-3">
                            <label for="nombreActividadEditModal" class="col-form-label">Nombre de la
                                Actividad:</label>
                            <input type="text" class="form-control" id="editNombre" name="editNombre"
                                th:field="*{nombreActividad}" required maxlength="20" />
                            <div class="invalid-feedback">Es necesario agregar un nombre.</div>
                        </div>
                        <div class="mb-3">
                            <div th:if="${asignacion.materia.tipoMateria == 'Módulo'}">
                                <label class="col-form-label" for="tipoActividadEditModal">Descripción:</label>
                                <textarea class="form-control" id="editTipoActividad" th:field="*{tipoActividad}"
                                    maxlength="10" required></textarea>
                            </div>
                            <div th:if="${asignacion.materia.tipoMateria == 'Básica'}">
                                <label class="col-form-label" for="tipoActividadEditModal">Tipo:</label>
                                <select th:field="*{tipoActividad}" class="form-select " id="editTipoActividad"
                                    required>
                                    <option value="" selected>Selecciona </option>
                                    <option value="Actividad cotidiana" selected>Actividad cotidiana</option>
                                    <option value="Actividad integradora" selected>Actividad integradora</option>
                                    <option value="Autoevaluación" selected>Autoevaluación</option>
                                    <option value="Heteroevaluación" selected>Heteroevaluación</option>
                                    <option value="Examen de periodo" selected>Examen de periodo</option>
                                </select>
                            </div>

                            <div class="invalid-feedback">Es necesario seleccionar un tipo</div>
                        </div>
                        <div class="mb-3">
                            <label for="fechaActividadEditModal" class="col-form-label">Fecha de la
                                Actividad:</label>
                            <input type="date" class="form-control" id="editFechaCreacion" th:field="*{fechaActividad}"
                                required />
                            <div class="invalid-feedback">Es necesario agregar una fecha</div>
                        </div>
                        <div class="mb-3">
                            <label for="ponderacionActividadEditModal" class="col-form-label">Ponderación:</label>
                            <input type="number" class="form-control" id="editPonderacion"
                                th:field="*{ponderacionActividad}" max="100" required />
                            <div class="invalid-feedback">La ponderación debe de ser mayor a 0 y menor a 100</div>
                        </div>
                        <!-- Botones del modal -->
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"
                                id="cancelarSancion">Cancelar</button>
                            <button type="submit" class="btn btn-primary" id="agregarModalButton">Guardar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>


    <!-- Modal de Confirmación -->
    <div class="modal fade" id="confirmDeleteModal" tabindex="-1" aria-labelledby="confirmDeleteModalLabel"
        aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="confirmDeleteModalLabel">Confirmar Eliminación</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    ¿Estás seguro de eliminar la actividad? Esta acción no puede deshacerse.
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                    <button type="button" class="btn btn-danger" id="confirmDeleteButton">Eliminar</button>
                </div>
            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.min.js"></script>

    <script type="text/javascript" src="/js/modalEliminacion.js"></script>
    <script type="text/javascript" th:src="@{/js/GestionActividades.js}"></script>

</body>

</html>