<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head >
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Acceso Denegado 🔒</title>
    <link rel="stylesheet" th:href="@{/css/style.css}" />
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />
</head>

<body class="body403">
    <div class="con403">
        <div class="imgStop">
            <img  th:src="@{/Imagenes/senal-de-stop-r.png}" alt="stop" />
        </div>
        <div class="text">
            <h1 class="mb-3 tituloDesp"><b>¡Acceso Denegado!</b></h1>
            <p class="mb-4 textDeps"><b>Lo sentimos, pero usted no tiene acceso a esta página o recurso.</b></p>
            <button class="btnVolver" onclick="goBack()">Regresar</button>
        </div>
    </div>
    <footer th:fragment="footer">
        <script type="text/javascript" th:src="@{/js/bootstrap.bundle.min.js}"></script>
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script type="text/javascript" th:src="@{/js/popper.min.js}"></script>
    </footer>
    <script>
        function goBack(){
            window.history.back();
        }
    </script>
</body>

</html>
