<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head >
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Error 404: Página no encontrada</title>
    <link rel="shortcut icon" type="image/x-icon" th:href="@{/Imagenes/INSIBO2.ico}">
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />
    <link rel="stylesheet" th:href="@{/css/style.css}" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.7.2/font/bootstrap-icons.css" rel="stylesheet">
</head>

<body>
    <!-- Barra de navegación -->
    <header th:replace="~{home :: header}"></header>
    <div class="py-5"></div>
    <div class="container text-center">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <h1 class="display-4 text-danger"><i class="bi bi-exclamation-triangle-fill"></i> Error 404: Página no encontrada</h1>
                <p class="lead">La página que buscas no está registrada en nuestro servidor.</p>
                <img th:src="@{/Imagenes/404t.jpg}" class="img-fluid rounded mb-4" alt="Página no encontrada" style="max-width: 50%;">
                <div class="mt-1">
                    <button class="btn btn-success btn-lg" onclick="goBack()">
                        <i class="bi bi-arrow-left-circle"></i> Regresar
                    </button>
                </div>
            </div>
        </div>
    </div>

    <footer th:fragment="footer">
        <script type="text/javascript" th:src="@{/js/bootstrap.bundle.min.js}"></script>
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script type="text/javascript" th:src="@{/js/popper.min.js}"></script>
    </footer>

    <script>
        function goBack() {
            window.history.back();
        }
    </script>
</body>
</html>
