.custom-navbar {
    background-color: #005187; /* Reemplaza ##005187 con el color que desees */
  }

.custom-h2{
  background-color: #84b6f4;
}

.thead{
  background-color: #005187;
  color: white
  
}
/* Alumnos*/
.nav-pills li a:hover{
  background-color: rgb(83, 161, 250);
 
}


th, td{
  text-align: center;
  vertical-align: center;
}



/* docente */
.sidebar {
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  padding-top: 20px;
  background-color: #005187;
  border-right: 1px solid #dee2e6;
}

.content {
  margin-left: 250px;
  padding: 20px;
}


/* ----------------------------------------------------------------------------------------- */
/*                               ESTILO DE INICIAR SESION                                    */
/* ----------------------------------------------------------------------------------------- */
.cuerpoIniciarSesion {
  background-color: #005187; 
  height: 100vh; /* Hace que el fondo cubra toda la pantalla */
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Verdana, sans-serif;
}

.tituloIniciarSesion {
  text-align: center;
  font-size: 22px; /* Tamaño del texto reducido */
  font-weight: bold; /* Negrita */
}

.entradaIniciarSesion{
  font-weight: bold; /* Negrita */
 
}

#correoIniciarSesion {
  margin-bottom: 15px; /* Margen inferior para separar los campos */
}

.btnIniciarSesion {
  background-color: #005187; /* Cambio de color de fondo */
  color: white; /* Color del texto */
  font-weight: bold; /* Texto en negrita */
  text-align: center; /* Centrar el texto */
  width: 100%; /* Ancho del botón */
  margin: 20px auto; /* Margen superior e inferior y centrado horizontal */
  border: 2px solid white; /* Borde blanco alrededor del botón */
  border-radius: 20px; /* Esquinas redondeadas */
  padding: 10px 20px; /* Espaciado interno del botón */
}

.btnIniciarSesion:hover {
  background-color: white;
  color: black;
  border-color: black;
}

#correoInvalido{
  color: red;
  display: none;
  font-weight: bold;
}

.preguntaRecuperar {
  text-align: center; /* Centrar el texto dentro del párrafo */
}

.enlaceRecuperar {
  color: #014470;  /* Cambiar el color del enlace a rojo */
  font-weight: bold; /* Texto en negrita */
  text-decoration: none; /* Eliminar la línea subrayada del enlace */
  cursor: pointer; /* Activar el cursor en modo de clic */
}

.enlaceRecuperar:hover {
  color: #84b6f4; /* Cambiar el color del enlace al pasar el cursor sobre él */
}

/* --------------------------- FIN DE ESTILO DE INICIAR SESION ------------------------------ */

/* ----------------------------------------------------------------------------------------- */
/*                               ESTILO DE RECUPERAR CONTRASEÑA                              */
/* ----------------------------------------------------------------------------------------- */
.btnRecuperar{
  background-color: #005187; /* Cambio de color de fondo */
  color: white; /* Color del texto */
  font-weight: bold; /* Texto en negrita */
  text-align: center; /* Centrar el texto */
  width: 100%; /* Ancho del botón */
  border: 2px solid white; /* Borde blanco alrededor del botón */
  border-radius: 20px; /* Esquinas redondeadas */
  padding: 10px 20px; /* Espaciado interno del botón */
}

.btnCancelar{
  background-color: #000000; /* Cambio de color de fondo */
  color: white; /* Color del texto */
  font-weight: bold; /* Texto en negrita */
  text-align: center; /* Centrar el texto */
  width: 100%; /* Ancho del botón */
  border: 2px solid white; /* Borde blanco alrededor del botón */
  border-radius: 20px; /* Esquinas redondeadas */
  padding: 10px 20px; /* Espaciado interno del botón */
}

.cuerpoRecuperar {
  background-color: #005187; 
  height: 100vh; /* Hace que el fondo cubra toda la pantalla */
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Verdana, sans-serif;
  margin: auto; /* Centra el contenido horizontalmente */
  text-align: justify; /* Justifica el texto */
}

.btnCancelar:hover, .btnRecuperar:hover {
  background-color: white;
  color: black;
  border-color: black;
}

/* --------------------------- FIN DE ESTILO DE RECUPERAR CONTRASEÑA ----------------------- */

/* ----------------------------------------------------------------------------------------- */
/*                               ESTILO DE GESTIONAR CREDENCIALES                            */
/* ----------------------------------------------------------------------------------------- */
.cuerpoGestionarCredenciales {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Verdana, sans-serif;
  margin: auto; /* Centra el contenido horizontalmente */
  text-align: justify; /* Justifica el texto */
}


.btnCerrarSesion:hover, .btnBuscar:hover{
  background-color: rgb(0, 0, 0);
  color: rgb(250, 250, 250);
  border-color: rgb(255, 255, 255);
}

.btnCerrarSesion, .btnBuscar{
  background-color: #ffffff; /* Cambio de color de fondo */
  color: rgb(0, 0, 0); /* Color del texto */
  font-weight: bold; /* Texto en negrita */
  text-align: center; /* Centrar el texto */
  border: 1px solid rgb(0, 0, 0); /* Borde blanco alrededor del botón */
  border-radius: 10px; /* Esquinas redondeadas */
  padding: 10px 20px; /* Espaciado interno del botón */
}

.barraLateral {
  height: 100vh;
  width: 240px; /* Ancho reducido de la barra lateral */
  position: fixed;
  top: 0;
  left: 0;
  background-color: #ffffff;
  color: black;
  z-index: 1000;
  padding-top: 10px; /* Para dejar espacio al sidebar */
  margin-right: 20px; /* Margen derecho */
  border-right: 0.5px solid rgb(163, 163, 163); /* Línea negra en el margen derecho */
}

#btnBuscar{
  min-width: 150px;
}

.barraArriba {
  background-color: #005187; /* Reemplaza ##005187 con el color que desees */
  color: white;
  margin-left: 240px; /* Ancho del sidebar */
}

.item{
  color: #000000;
}

.barraLateral p, .barraLateral a {
  padding: 10px 15px;
  margin: 0; /* Agrega este estilo para eliminar cualquier margen adicional */
  font-size: 18px;
  display: block;
}

.barraLateral a{
  text-decoration: none;
}

.EncabezadoLateral {
  font-weight: bold; /* Aplica negrita */
  text-align: center; /* Centra el texto */
}

.barraLateral a:not(.active):hover {
  background-color: #b9babb;
  color: #000000;
  cursor: pointer;
}

#LogoINSIBOCredenciales{
  max-width: 150px;
  display: block;
  margin: 0 auto;
}

.item.active {
  background-color: #03376eaf; /* Color de fondo para indicar activación */
  color: white; /* Color de texto para indicar activación */
}

#Usuarios th {
  color: rgb(138, 138, 138); /* Cambia el color a rojo */
}

.tituloTabla {
  font-size: 20px;
}

.contenedorTabla {
  padding: 20px; /* Ajusta el espaciado según sea necesario */
  border-radius: 10px; /* Opcional: añade bordes redondeados al contenedor */
  border: 1px solid #ccc; /* Borde de 1 píxel sólido de color gris (#ccc) */
}

#Usuarios {
  border-collapse: separate; /* Indica que los bordes de las celdas no se colapsen */
  border-spacing: 10px; /* Establece el espaciado entre las celdas */
}

#encabezadoAcciones{
  text-align: center; /* Centra el contenido de las celdas en el cuerpo de la tabla */
}

.centro {
  margin-left: 50px; /* Ancho de la barra lateral */
  margin-right: 10px; /* Ancho de la barra lateral */
  width: fit-content;
  margin-top: 80px; /* Adjust margin value as needed */
  
}

.btnPaginado{
  background-color: #005187; /* Reemplaza ##005187 con el color que desees */
  border: 1px solid rgb(250, 250, 250); /* Borde blanco alrededor del botón */
}

/* --------------------------- FIN DE ESTILO DE GESTIONAR CREDENCIALES --------------------- */

/* --------------------------- FIN DE ESTILO DE RECUPERAR CONTRASEÑA ----------------------- */

/* ----------------------------------------------------------------------------------------- */
/*                               ESTILO DE CALIFICACIONES                              */
/* ----------------------------------------------------------------------------------------- */

/* --- Barra Lateral --- */

.barra-lateral{
  background: #262a34;
  color: #fff;
  min-width: 300px;
  min-height: 100vh;
}

.barra-lateral a{
  color: #fff;
}

.barra-lateral .logo{
  background: #0275db;
}

.barra-lateral .logo h2{
  font-size: 30px;
  font-family: 'Roboto', sans-serif;
  text-align: center;
  font-weight: 300;
}

.barra-lateral .menu a{
  display: block;
  padding: 20px;
  font-family: 'Roboto',sans-serif;
  font-weight: 500;
  border-bottom: 1px solid rgba(255, 255, 255, .1);
}
.barra-lateral .menu a:hover{
  background: #35ae6b;
}
.barra-lateral .menu a svg{
  margin-right: 10px;
}

.btn-fixed-bottom-right {
  position: fixed;
  bottom: 20px;
  right: 20px;
}

/* --------------------------- MENSAJES DE CONFIRMACIÓN ----------------------- */


/* --------------------------- FIN DE ESTILO DE CALIFICACIONES ----------------------- */

/* ----------------------------------------------------------------------------------------- */
/*                               INPUT         yo                  */
/* ----------------------------------------------------------------------------------------- */
.contenedorI{
  width: 300px;
  padding: 2rem;
  background-color: #4d82bc;
  border-radius: 2rem;
}
.contenedorI .wrapper{
  position: relative;
  height: 200px;
  width: 100%;
  border-radius: 10px;
  background: #fff;
  border: 2px solid #4d82bc;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
.wrapper.active{
  border: none;
}
.wrapper .image{
  position: absolute;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.wrapper .icon{
  font-size: 100px;
  color: #4d82bc;
}
.wrapper .text{
  font-size: 20px;
  font-weight: 500;
  color: #5B5B7B;
}
.wrapper #cancel-btn i{
  position: absolute;
  font-size: 20px;
  right: 15px;
  top: 15px;
  color: #4d82bc;
  cursor: pointer;
  display: none;
}
.wrapper.active:hover #cancel-btn i{
  display: block;
}
.wrapper #cancel-btn i:hover{
  color: #e74c3c;
}
.wrapper .file-name{
  position: absolute;
  bottom: 0px;
  width: 100%;
  padding: 0.5rem 0.2rem;
  font-size: 18px;
  color: #fff;
  display: none;
  background: #84b6f4;
}
/* .wrapper.active:hover .file-name{ */
.wrapper.active .file-name{
  display: block;
}
.contenedorI #custom-btn{
  margin-top: 1rem;
  display: block;
  width: 100%;
  padding-top: 0.4rem;
  padding-bottom: 0.4rem;
  border: none;
  outline: none;
  border-radius: 1rem;
  color: #000;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 1px;
  cursor: pointer;
  background: #f5f5f5
}
.btn-display{
  display: none;
}

.input-date{
  width: 100%;
  padding: 0.5rem 0.3rem;
  border-radius: 0.5rem;
}
.back-titulo{
  background-color: #4d82bc !important;
  color: #fff !important;
}
/*input modal*/
.container-modal{
  width: 100%;
}
.container-modal .wrapper-modal{
  position: relative;
  height: 95px;
  width: 100%;
  border-radius: 10px;
  background: #fff;
  border: 2px dashed #4d82bc;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
.wrapper-modal.active{
  border: none;
}
.wrapper-modal .image{
  position: absolute;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.wrapper-modal .icon{
  font-size: 2rem;
  color: #4d82bc;
}
.wrapper-modal .text{
  font-size: 20px;
  font-weight: 500;
  color: #5B5B7B;
}
.wrapper-modal #cancel-btn-m i{
  position: absolute;
  font-size: 20px;
  right: 15px;
  top: 15px;
  color: #4d82bc;
  cursor: pointer;
  display: none;
}
.wrapper-modal.active:hover #cancel-btn-m i{
  display: block;
}
.wrapper-modal #cancel-btn-m i:hover{
  color: #e74c3c;
}
.wrapper-modal .file-name{
  position: absolute;
  bottom: 0px;
  width: 100%;
  padding: 0.5rem 0.2rem;
  font-size: 18px;
  color: #fff;
  display: none;
  background: #84b6f4;
}
/* .wrapper.active:hover .file-name{ */
.wrapper-modal.active .file-name{
  display: block;
}
.container-modal #custom-btn-m{
  margin-top: 1rem;
  display: block;
  width: 100%;
  padding-top: 0.4rem;
  padding-bottom: 0.4rem;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 1px;
  cursor: pointer;
}
/* ----------------------------------------------------------------------------------------- */
/*                               INPUT                           */
/* ----------------------------------------------------------------------------------------- */
