<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:fragment="head">
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title th:text="${titulo}"></title>
    <link rel="shortcut icon" type="image/x-icon" th:href="@{/Imagenes/INSIBO2.ico}">
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />
    <link rel="stylesheet" th:href="@{/css/style.css}" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.7.2/font/bootstrap-icons.css" rel="stylesheet">
</head>

<body>
    <!--Esto es una barra de navegación-->
    <header th:fragment="header">
        <nav class="navbar navbar-expand-lg custom-navbar fixed-top">
            <div class="container-fluid">
                <a class="navbar-brand text-white fw-bold text-center" th:href="@{/}">SICE</a>
                <button class="navbar-toggler text-white" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <i class="bi bi-list text-white"></i>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0 d-flex ">
                        <li class="nav-item" sec:authorize="!hasAnyRole('BIBLIOTECARIO')" >
                            <a class="nav-link active text-white" aria-current="page" th:href="@{/}">
                                <i class="bi bi-house-door text-white"></i> Inicio
                            </a>
                        </li>
                        <li class="nav-item"
                            sec:authorize="hasAnyRole('ADMINISTRADOR','DIRECTOR','SUBDIRECTORA','SECRETARIA')">
                            <a class="nav-link active text-white" aria-current="page"
                                th:href="@{/expedientedocente/plantadocente}">
                                <i class="bi bi-person-badge"></i>Docentes
                            </a>
                        </li>
                        <li class="nav-item"
                            sec:authorize="hasAnyRole('ADMINISTRADOR','DIRECTOR','SUBDIRECTORA','SECRETARIA')">
                            <a class="nav-link active text-white" aria-current="page"
                                th:href="@{/expedienteadministrativo/plantaadministrativa}">
                                <i class="bi bi-briefcase"></i> Administrativos
                            </a>
                        </li>
                        <li class="nav-item"
                            sec:authorize="hasAnyRole('ADMINISTRADOR','DIRECTOR','SUBDIRECTORA','SECRETARIA')">
                            <a class="nav-link active text-white" aria-current="page"
                                th:href="@{/ExpedienteAlumno/ver}">
                                <i class="bi bi-mortarboard"></i> Alumnos
                            </a>
                        </li>
                        <li class="nav-item"
                            sec:authorize="hasAnyRole('ADMINISTRADOR','DIRECTOR','SUBDIRECTORA','SECRETARIA')">
                            <a class="nav-link active text-white" aria-current="page" th:href="@{/Calificaciones/General}">
                                <i class="bi bi-journal-text"></i> Notas
                            </a>
                        </li>
                        <li class="nav-item"
                            sec:authorize="hasAnyRole('ADMINISTRADOR','DIRECTOR','SUBDIRECTORA','SECRETARIA')">
                            <a class="nav-link active text-white" aria-current="page"
                                th:href="@{/asistencias/seleccionInicio}">
                                <i class="bi bi-calendar-check"></i> Asistencia
                            </a>
                        </li>
                        <li class="nav-item dropdown"
                            sec:authorize="hasAnyRole('ADMINISTRADOR','DIRECTOR','SUBDIRECTORA','SECRETARIA')">
                            <a class="nav-link dropdown-toggle" th:href="@{/administracion}" role="button"
                                data-bs-toggle="dropdown" aria-expanded="false">
                                <i class="bi bi-gear"></i> Administracion
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" th:href="@{/AsignacionMateria}">Asignación materias</a>
                                </li>
                                <li><a class="dropdown-item" th:href="@{/Bachillerato/anio}">Bachilleratos</a></li>
                                <li><a class="dropdown-item"
                                        sec:authorize="hasAnyRole('ADMINISTRADOR','DIRECTOR','SUBDIRECTORA')"
                                        th:href="@{/horarios/asignarHoras}">Horarios</a></li>
                                <li><a class="dropdown-item" th:href="@{/GestionMaterias}">Materias</a></li>
                                <li><a class="dropdown-item" th:href="@{/AsignacionOrientador/Asignar}">Orientadores</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                    <form class="d-flex" th:action="@{/logout}" method="post">
                        <button class="btn btn-outline-danger text-white" type="submit" th:href="@{/logout}">
                            <i class="bi bi-box-arrow-in-right"></i> Cerrar sesión
                        </button>
                    </form>
                </div>
            </div>
        </nav>
    </header>

    <div class="container mt-3 my-5 py-5">
        <!--Mensajes-->
        <div th:replace="~{alertas::alertas}"></div>
        <!-- Jumbotron -->
        <div class="jumbotron mb-3 bg-light rounded-3 px-3 py-3">
            <div class="container text-center">
                <h1 class="display-5 fw-bold">Bienvenido a SICE</h1>
                <p class="fs-5">Accede a toda la información y herramientas necesarias para una gestión eficiente y
                    efectiva.</p>
            </div>
        </div>
        <!-- Cards -->
        <div class="row mb-3 justify-content-center g-3">
            <div sec:authorize="hasAnyRole('ADMINISTRADOR','DIRECTOR','SUBDIRECTORA','SECRETARIA')"
                class="col-6 col-sm-4 col-md-3 col-lg-3 col-xl-3 d-flex">
                <div class="card h-100">
                    <img th:src="@{/Imagenes/docente.jpg}" class="card-img-top" alt="Docentes">
                    <div class="card-body d-flex flex-column">
                        <h5 class="card-title ">Docentes</h5>
                        <p class="card-text ">Accede a los expedientes de los docentes de la institución.</p>
                        <a th:href="@{/expedientedocente/plantadocente}" class="btn btn-primary mt-auto">Ir a
                            Sección</a>
                    </div>
                </div>
            </div>
            <div sec:authorize="hasRole('DOCENTE')" class="col-6 col-sm-4 col-md-3 col-lg-3 col-xl-3 d-flex">
                <div class="card h-100">
                    <img th:src="@{/Imagenes/docente.jpg}" class="card-img-top" alt="Expediente">
                    <div class="card-body d-flex flex-column">
                        <h5 class="card-title ">Expediente</h5>
                        <p class="card-text ">Edita los datos generales de tu expediente.</p>
                        <a th:href="@{/expedientedocente/miexpediente}" class="btn btn-primary mt-auto">Ir a Sección</a>
                    </div>
                </div>
            </div>
            <div sec:authorize="hasAnyRole('ADMINISTRADOR','DIRECTOR','SUBDIRECTORA','SECRETARIA')"
                class="col-6 col-sm-4 col-md-3 col-lg-3 col-xl-3 d-flex">
                <div class="card h-100">
                    <img th:src="@{/Imagenes/administrativo.jpg}" class="card-img-top" alt="Administrativos">
                    <div class="card-body d-flex flex-column">
                        <h5 class="card-title ">Administrativos</h5>
                        <p class="card-text ">Consulta la información de los empleados administrativos.</p>
                        <a th:href="@{/expedienteadministrativo/plantaadministrativa}"
                            class="btn btn-primary mt-auto">Ir a Sección</a>
                    </div>
                </div>
            </div>
            <div sec:authorize="hasAnyRole('ADMINISTRADOR','DIRECTOR','SUBDIRECTORA','SECRETARIA')"
                class="col-6 col-sm-4 col-md-3 col-lg-3 col-xl-3 d-flex">
                <div class="card h-100">
                    <img th:src="@{/Imagenes/alumnos.jpg}" class="card-img-top" alt="Alumnos">
                    <div class="card-body d-flex flex-column">
                        <h5 class="card-title ">Alumnos</h5>
                        <p class="card-text ">Accede a los expedientes de los alumnos de la institución.</p>
                        <a th:href="@{/ExpedienteAlumno/ver}" class="btn btn-primary mt-auto">Ir a Sección</a>
                    </div>
                </div>
            </div>
            <div sec:authorize="hasAnyRole('ADMINISTRADOR','DOCENTE','DIRECTOR','SUBDIRECTORA','SECRETARIA')"
                class="col-6 col-sm-4 col-md-3 col-lg-3 col-xl-3 d-flex">
                <div class="card h-100">
                    <img th:src="@{/Imagenes/nota.jpg}" class="card-img-top" alt="Notas">
                    <div class="card-body d-flex flex-column">
                        <h5 class="card-title ">Notas</h5>
                        <p class="card-text ">Accede a las calificaciones de los alumnos de la institución.</p>
                        <a sec:authorize="hasAnyRole('ADMINISTRADOR','DIRECTOR','SUBDIRECTORA','SECRETARIA')"
                            th:href="@{/Calificaciones/General}" class="btn btn-primary mt-auto ">Ir a sección</a>
                        <a sec:authorize="hasAnyRole('DOCENTE')" class="btn btn-primary mt-auto notas-btn">Ir a
                            Sección</a>
                    </div>
                </div>
            </div><!-- carta solo del docente -->
            <div sec:authorize="hasRole('DOCENTE')" class="col-6 col-sm-4 col-md-3 col-lg-3 col-xl-3 d-flex"
                th:classappend="${activo != false} ? '' : 'd-none'">
                <div class="card h-100">
                    <img th:src="@{/Imagenes/alumnos.jpg}" class="card-img-top" alt="Alumnos">
                    <div class="card-body d-flex flex-column">
                        <h5 class="card-title ">Alumnos</h5>
                        <p class="card-text ">Accede a los expedientes de los alumnos de la institución.</p>
                        <a class="btn btn-primary mt-auto abrir-btn">Ir a Sección</a>
                    </div>
                </div>
            </div>
            <div sec:authorize="hasAnyRole('ADMINISTRADOR','DIRECTOR','SUBDIRECTORA','SECRETARIA')"
                class="col-6 col-sm-4 col-md-3 col-lg-3 col-xl-3 d-flex">
                <div class="card h-100">
                    <img th:src="@{/Imagenes/asistencia.jpg}" class="card-img-top" alt="Asistencia">
                    <div class="card-body d-flex flex-column">
                        <h5 class="card-title ">Asistencia</h5>
                        <p class="card-text">Accede a la asistencia de docentes de los alumnos de la institución.
                        </p>
                        <a th:href="@{/asistencias/seleccionInicio}" class="btn btn-primary mt-auto">Ir a Sección</a>
                    </div>
                </div>
            </div>
            <div sec:authorize="hasAnyRole('ADMINISTRADOR','DIRECTOR','SUBDIRECTORA','SECRETARIA')"
                class="col-6 col-sm-4 col-md-3 col-lg-3 col-xl-3 d-flex">
                <div class="card h-100">
                    <img th:src="@{/Imagenes/administracion.jpg}" class="card-img-top" alt="Administración">
                    <div class="card-body d-flex flex-column">
                        <h5 class="card-title ">Administración</h5>
                        <p class="card-text ">Gestiona la administración de la institución.</p>
                        <a th:href="@{/administracion}" class="btn btn-primary mt-auto">Ir a Sección</a>
                    </div>
                </div>
            </div>
            <div sec:authorize="hasAnyRole('ADMINISTRADOR','DIRECTOR','SUBDIRECTORA')"
                class="col-6 col-sm-4 col-md-3 col-lg-3 col-xl-3 d-flex">
                <div class="card h-100">
                    <img src="https://img.freepik.com/vector-gratis/ilustracion-concepto-entrega_114360-2094.jpg?t=st=1729738140~exp=1729741740~hmac=98c5c43a5bf1c0670f82392f4a9529c72ac2295452f4532b67e7bed5cd7a230d&w=740"
                        class="card-img-top" alt="Notas">
                    <div class="card-body d-flex flex-column">
                        <h5 class="card-title ">Paquetes escolares</h5>
                        <p class="card-text">Accede al inventario de donaciones y reporte de entrega de paquetes.</p>
                        <a th:href="@{/paquetes/inicio}" class="btn btn-primary mt-auto">Ir a Sección</a>
                    </div>
                </div>
            </div>
            <div sec:authorize="hasAnyRole('DOCENTE')" class="col-6 col-sm-4 col-md-3 col-lg-3 col-xl-3 d-flex"
                th:classappend="${activo != false} ? '' : 'd-none'">
                <div class="card h-100">
                    <img src="https://img.freepik.com/vector-gratis/ilustracion-concepto-entrega_114360-2094.jpg?t=st=1729738140~exp=1729741740~hmac=98c5c43a5bf1c0670f82392f4a9529c72ac2295452f4532b67e7bed5cd7a230d&w=740"
                        class="card-img-top" alt="Notas">
                    <div class="card-body d-flex flex-column">
                        <h5 class="card-title ">Entrega paquetes</h5>
                        <p class="card-text">Accede a la entrega de paquetes escolares.</p>
                        <button class="btn btn-primary mt-auto" data-bs-toggle="modal"
                            data-bs-target="#paquetesModal">Ir a Sección</button>
                    </div>
                </div>
            </div>
            <div sec:authorize="hasAnyRole('ADMINISTRADOR','DIRECTOR','SUBDIRECTORA','SECRETARIA')"
                class="col-6 col-sm-4 col-md-3 col-lg-3 col-xl-3 d-flex">
                <div class="card h-100">
                    <img th:src="@{/Imagenes/biblioteca.jpg}" class="card-img-top" alt="Horarios">
                    <div class="card-body d-flex flex-column">
                        <h5 class="card-title">Biblioteca</h5>
                        <p class="card-text">Ingresa al módulo de biblioteca para acceder a recursos, realizar búsquedas
                            y gestionar préstamos de materiales.</p>
                        <a th:href="@{/Biblioteca/}" class="btn btn-primary mt-auto">Ir a Sección</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal para ver los expediente de alumnos del lado del docente -->
    <div class="modal fade" id="abrirModal" tabindex="-1" aria-labelledby="confirmAgregarModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="confirAgregarModalLabel">Elija la sección que desea consultar</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="table-responsive py-2 table-sm">
                        <table class="table table-hover ">
                            <thead class="tabla-c">
                                <tr>
                                    <th scope="col">Año</th>
                                    <th scope="col">Especialidad</th>
                                    <th scope="col">Sección</th>
                                    <th scope="col">Acciones</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr class="align-middle" th:each="bachillerato, stat : ${listaSecciones}">
                                    <td th:text="${bachillerato.grado}"></td>
                                    <td th:text="${bachillerato.nombreCarrera}"></td>
                                    <td th:text="${bachillerato.seccion}"></td>
                                    <td>
                                        <a class="btn btn-success "
                                            th:href="@{/AsignacionOrientador/seccionAsigada/}+${bachillerato.codigoBachillerato}">
                                            <i class="bi bi-eye"></i>
                                        </a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal para ver los actividades de su materia asignada -->
    <div class="modal fade" id="notasModal" tabindex="-1" aria-labelledby="confirmAgregarModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="confirAgregarModalLabel">Notas</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="table-responsive py-2 table-sm ">
                        <table class="table table-hover ">
                            <thead class="fs-6">
                                <tr>
                                    <th scope="col">Materia</th>
                                    <th scope="col">Tipo</th>
                                    <th scope="col">Año</th>
                                    <th scope="col">Especialidad</th>
                                    <th scope="col">Sección</th>
                                    <th scope="col">Acciones</th>
                                </tr>
                            </thead>
                            <tbody class="fs-6">
                                <tr th:each="asignacion, stat : ${listadoAsignaciones}">
                                    <td th:text="${asignacion.materia.nomMateria}"></td>
                                    <td th:text="${asignacion.materia.tipoMateria}"></td>
                                    <td th:text="${asignacion.bachillerato.grado}"></td>
                                    <td th:text="${asignacion.bachillerato.nombreCarrera}"></td>
                                    <td th:text="${asignacion.bachillerato.seccion}"></td>
                                    <td>
                                        <a class="btn btn-success btn-sm "
                                            th:href="@{/Actividad/}+${asignacion.materia.idMateria+'/'+ asignacion.bachillerato.codigoBachillerato}">
                                            <i class="bi bi-journal-check"></i>
                                        </a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>


                </div>
            </div>
        </div>
    </div>
    <!--Modal paquetes secciones -->
    <div class="modal fade" id="paquetesModal" tabindex="-1" aria-labelledby="paquetesModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="paquetesModalLabel">Entrega Paquetes</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p class="fw-bolder">Seleccione la sección a entregar paquetes</p>
                    <div class="table-responsive table-sm"></div>
                    <table class="table table-hover ">
                        <thead class="tabla-c">
                            <tr>
                                <th scope="col">Año</th>
                                <th scope="col">Especialidad</th>
                                <th scope="col">Sección</th>
                                <th scope="col">Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="align-middle" th:each="bachillerato, stat : ${listaSecciones}">
                                <td th:text="${bachillerato.grado}"></td>
                                <td th:text="${bachillerato.nombreCarrera}"></td>
                                <td th:text="${bachillerato.seccion}"></td>
                                <td>
                                    <a class="btn btn-success"
                                        th:href="@{/entregasPaquetes/seccionAsigada/{id}(id=${bachillerato.codigoBachillerato})}">
                                        <i class="bi bi-clipboard"></i>
                                    </a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>


    <!--fin modal paquetes secciones -->
    <footer th:fragment="footer">
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script type="text/javascript" th:src="@{/js/popper.min.js}"></script>
        <script type="text/javascript" th:src="@{/js/bootstrap.bundle.min.js}"></script>
    </footer>
    <script type="text/javascript" th:src="@{/js/home.js}"></script>
</body>

</html>