<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head th:replace="home :: head">
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Agregar Justificación</title>
    <link rel="stylesheet" th:href="@{/css/style.css}" />
  </head>
  <body>
    <div class="p-4">
      <div class="row row-cols-md-2 row-cols-1 mb-3">
        <div class="col-md-8 col"><h2>Agregar Justificación</h2></div>
        <div class="col-md-4 col">
          <div class="d-flex justify-content-end">
            <a class="btn btn-outline-primary" th:href="@{/asistenciaPersonal/asistenciaTardia}">Regresar</a>
          </div>
        </div>
      </div>
      <p class="text-center">Nombre Persona</p>
      <form method="post" enctype="multipart/form-data" th:action="@{/asistenciaPersonal/uploadJustificacion}">
        <div class="w-50 mx-auto">
        <div class="d-flex flex-column">
          <div class="mb-3">
            <label for="descripcionJustificacion" class="mb-2 ps-2">Comentario</label>
            <textarea
              name="descripcionJustificacion"
              id=""
              rows="5"
              class="w-100 rounded-3 p-2"
              style="border-color: #4d82bc" required
            ></textarea>
          </div>
          <div class="input-group">
            <input type="file" name="archivo"  class="form-control" id="" aria-describedby="inputGroupFileAddon04" aria-label="Upload" required>
          </div>
        </div>
      </div>
      <div class="my-2 d-flex justify-content-center">
        <input
          class="btn btn-secondary fw-bold"
          value="Enviar"
          id="" type="submit"
        />
      </div>
      </form>
      
    </div>
  </body>
  <script type="text/javascript">

  </script>
</html>
